Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

wip
  templates/common/templatesource/upgrade.go
Owners: @abcxyz/go-readability

lint
  templates/common/render/action_print.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
Owners: @abcxyz/go-readability

rename dest/ultimate/out
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
Owners: @abcxyz/go-readability

PR feedback
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

Add the concept of "ultimate" destination to rendering logic (#467)
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_print.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/goldentest/new_test_flags.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/flags.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/flags/flags.go
Owners: @abcxyz/go-readability

wip
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/common/flags/flags.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

lint
  README.md
  t/data_migration_pipeline/spec.yaml
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

self-review
  t/data_migration_pipeline/spec.yaml
Owners: @abcxyz/infrastructure-team

wip
  templates/common/header.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/source.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/v1alpha1/manifest.go
Owners: @abcxyz/go-readability

lint
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

self-review
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

lint
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add core Upgrade() function for upgrading templates (#468)
  README.md
  t/data_migration_pipeline/spec.yaml
  templates/commands/goldentest/new_test_flags.go
  templates/commands/render/flags.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/flags/flags.go
  templates/common/tempdir/paths.go
  templates/common/templatesource/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

When upgrading, merge the old and new manifests instead of overwriting (#469)
  templates/common/header.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/source.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

re-record
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
Owners: none

undo double-quote autoformatting
  t/proto_template/testdata/golden/basic/test.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy-rest-server.yaml
  t/rest_server/deployments/workflows/ci-rest-server.yaml
  t/rest_server/deployments/workflows/deploy-rest-server.yaml
Owners: @abcxyz/infrastructure-team

pre-record
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
  examples/templates/render/hello_jupiter/go.mod
  go.mod
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/test.yaml
  t/react_template/.github/workflows/deploy.yaml
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy.yaml
  t/rest_server/contents/go.mod
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy-rest-server.yaml
  t/rest_server/deployments/workflows/ci-rest-server.yaml
  t/rest_server/deployments/workflows/deploy-rest-server.yaml
  t/rest_server/testdata/golden/basic/data/go.mod
Owners: @abcxyz/infrastructure-team

Finish upgrade to Go 1.22
  .github/workflows/create-tag.yml
  .github/workflows/lint-test.yml
  .github/workflows/notify-on-issue-and-release.yml
  .github/workflows/release.yml
  examples/templates/render/hello_jupiter/go.mod
  go.mod
  go.sum
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/react_template/.github/workflows/ci.yaml
  t/react_template/.github/workflows/deploy.yaml
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yaml
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy.yaml
  t/rest_server/contents/go.mod
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy-rest-server.yaml
  t/rest_server/deployments/workflows/ci-rest-server.yaml
  t/rest_server/deployments/workflows/deploy-rest-server.yaml
  t/rest_server/testdata/golden/basic/data/go.mod
  templates/common/templatesource/localsource.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Upgrade to Go 1.22.1 (#470)
  .github/workflows/create-tag.yml
  .github/workflows/lint-test.yml
  .github/workflows/notify-on-issue-and-release.yml
  .github/workflows/release.yml
  examples/templates/render/hello_jupiter/go.mod
  go.mod
  go.sum
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/test.yaml
  t/react_template/.github/workflows/ci.yaml
  t/react_template/.github/workflows/deploy.yaml
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yaml
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy.yaml
  t/rest_server/contents/go.mod
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy-rest-server.yaml
  t/rest_server/deployments/workflows/ci-rest-server.yaml
  t/rest_server/deployments/workflows/deploy-rest-server.yaml
  t/rest_server/testdata/golden/basic/data/go.mod
  templates/common/templatesource/localsource.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Skip upgrading if template is already latest version
  templates/commands/describe/describe.go
  templates/commands/upgrade/upgrade.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/tempdir/tempremover.go
  templates/common/templatesource/remote_git.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add new file
  templates/common/dirhash/dirhash.go
Owners: @abcxyz/go-readability

lint
  templates/commands/upgrade/upgrade.go
  templates/common/dirhash/dirhash.go
  templates/common/render/manifest.go
Owners: @abcxyz/go-readability

Add tests for dirhash wrapper
  templates/commands/upgrade/upgrade.go
  templates/common/dirhash/dirhash_test.go
Owners: @abcxyz/go-readability

Add now (current timestamp) as a template variable
  examples/templates/render/now/spec.yaml
  examples/templates/render/now/testdata/golden/example/data/.abc/.gitkeep
  examples/templates/render/now/testdata/golden/example/data/.abc/stdout
  examples/templates/render/now/testdata/golden/example/test.yaml
  templates/commands/render/render.go
  templates/common/builtinvar/builtin_vars.go
  templates/common/render/action.go
  templates/common/render/render.go
  templates/common/template_funcs.go
  templates/common/template_funcs_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Address review feedback
  examples/templates/render/now/spec.yaml
  examples/templates/render/now/testdata/golden/example/data/.abc/stdout
  examples/templates/render/now/testdata/golden/example/test.yaml
  templates/common/builtinvar/builtin_vars.go
  templates/common/render/render.go
  templates/common/template_funcs_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

PR feedback
  templates/common/dirhash/dirhash_test.go
Owners: @abcxyz/go-readability

Upgrade() bails out if dirhash check shows upgrade isn't needed (#471)
  templates/commands/describe/describe.go
  templates/commands/upgrade/upgrade.go
  templates/common/dirhash/dirhash.go
  templates/common/dirhash/dirhash_test.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/tempdir/tempremover.go
  templates/common/templatesource/remote_git.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add api_version v1beta6
  templates/commands/describe/describe.go
  templates/commands/describe/describe_test.go
  templates/commands/goldentest/new_test_cli_test.go
  templates/common/builtinvar/builtin_vars.go
  templates/common/input/input.go
  templates/common/input/input_test.go
  templates/common/render/action_append.go
  templates/common/render/action_append_test.go
  templates/common/render/action_foreach.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_gotemplate.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_print.go
  templates/common/render/action_print_test.go
  templates/common/render/action_regexnamelookup.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/rules/rules.go
  templates/common/rules/rules_test.go
  templates/common/specutil/spec.go
  templates/common/specutil/spec_test.go
  templates/common/upgrade/upgrade_test.go
  templates/model/README.md
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
  templates/model/spec/features/features.go
  templates/model/spec/v1beta6/spec.go
  templates/model/spec/v1beta6/spec_test.go
  templates/model/spec/v1beta6/upgrade.go
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Support template functions that vary per api_version
  templates/common/cel.go
  templates/common/cel_test.go
  templates/common/input/input.go
  templates/common/render/action.go
  templates/common/render/action_append.go
  templates/common/render/action_append_test.go
  templates/common/render/action_foreach.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_gotemplate.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_print.go
  templates/common/render/action_print_test.go
  templates/common/render/action_regexnamelookup.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/action_test.go
  templates/common/render/gotmpl/funcs/funcs.go
  templates/common/render/gotmpl/funcs/funcs_test.go
  templates/common/render/gotmpl/gotmpl.go
  templates/common/render/gotmpl/gotmpl_test.go
  templates/common/render/render.go
  templates/common/rules/rules_test.go
  templates/common/scope.go
  templates/common/scope_test.go
Owners: @abcxyz/go-readability

fixes, tests, lint
  examples/templates/render/now/spec.yaml
  templates/common/render/action.go
  templates/common/render/action_append.go
  templates/common/render/action_foreach.go
  templates/common/render/action_print.go
  templates/common/render/action_regexreplace.go
  templates/common/render/action_stringreplace.go
  templates/common/render/gotmpl/gotmpl.go
  templates/common/render/gotmpl/gotmpl_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/scope.go
  templates/model/spec/v1beta4/upgrade.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

A couple more tests and comments
  templates/common/builtinvar/builtin_vars.go
  templates/common/render/render_test.go
  templates/common/scope.go
  templates/model/spec/v1beta6/upgrade.go
Owners: @abcxyz/go-readability

Mark api_version v1beta6 as ready for release
  README.md
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix accidental autoformat
  README.md
Owners: @abcxyz/infrastructure-team

typo
  README.md
Owners: @abcxyz/infrastructure-team

Mark api_version v1beta6 as ready for release (#475)
  README.md
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

wip
  templates/common/fs.go
  templates/common/templatesource/localsource.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

update golden test
  t/nextjs_react_template/testdata/golden/basic/data/package-lock.json
Owners: none

remove checkout repo step when deploying to npm gar
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
Owners: @abcxyz/infrastructure-team
