Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

update proto template to use buf (#442)
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/Makefile
  t/proto_template/buf.gen.yaml
  t/proto_template/buf.work.yaml
  t/proto_template/buf.yaml
  t/proto_template/protos/pet/v1/pet.proto
  t/proto_template/protos/v1/person_service/person.proto
  t/proto_template/prototool.yaml
  t/proto_template/scripts/generate.sh
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/Makefile
  t/proto_template/testdata/golden/basic/data/README.md
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/data/buf.work.yaml
  t/proto_template/testdata/golden/basic/data/buf.yaml
  t/proto_template/testdata/golden/basic/data/protos/pet/v1/pet.proto
  t/proto_template/testdata/golden/basic/data/protos/v1/person_service/person.proto
  t/proto_template/testdata/golden/basic/data/prototool.yaml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fix: allow goldentest input values be empty
  templates/model/goldentest/v1alpha1/goldentest.go
  templates/model/goldentest/v1alpha1/goldentest_test.go
  templates/model/goldentest/v1beta3/goldentest.go
  templates/model/goldentest/v1beta3/goldentest_test.go
  templates/model/goldentest/v1beta4/goldentest.go
  templates/model/goldentest/v1beta4/goldentest_test.go
Owners: @abcxyz/go-readability

lint
  templates/model/goldentest/v1beta3/goldentest_test.go
  templates/model/goldentest/v1beta4/goldentest_test.go
Owners: @abcxyz/go-readability

fix: allow goldentest input values be empty (#448)
  templates/model/goldentest/v1alpha1/goldentest.go
  templates/model/goldentest/v1alpha1/goldentest_test.go
  templates/model/goldentest/v1beta3/goldentest.go
  templates/model/goldentest/v1beta3/goldentest_test.go
  templates/model/goldentest/v1beta4/goldentest.go
  templates/model/goldentest/v1beta4/goldentest_test.go
Owners: @abcxyz/go-readability

Remove regex metacharacters that prevented conversion to v1beta5
  t/rest_server/deployments/config/environment-rest-server.env
  t/rest_server/deployments/spec.yaml
  t/rest_server/deployments/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

Re-record rest_server deployment test after converting to v1beta5
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/config/integration-rest-server.env
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy-rest-server.yaml
Owners: none

Upgrade rest_server deployment template to v1beta5, fixing glob metacharacters (#451)
  t/rest_server/deployments/config/environment-rest-server.env
  t/rest_server/deployments/spec.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/config/integration-rest-server.env
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

change trigger on release
  .github/workflows/notify-on-issue-and-release.yml
Owners: @abcxyz/infrastructure-team

Mark api_version v1beta4 and v1beta5 as release-ready
  templates/model/decode/decode.go
Owners: @abcxyz/go-readability

Fix tests
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

Mark api_version v1beta4 and v1beta5 as release-ready (#454)
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

change trigger on release (#452)
  .github/workflows/notify-on-issue-and-release.yml
Owners: @abcxyz/infrastructure-team

Handle ValidateEach being passed a nil element
  templates/model/validate.go
  templates/model/validate_test.go
Owners: @abcxyz/go-readability

change trigger
  .github/workflows/notify-on-issue-and-release.yml
Owners: @abcxyz/infrastructure-team

change trigger (#456)
  .github/workflows/notify-on-issue-and-release.yml
Owners: @abcxyz/infrastructure-team

draft
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

Fix misguided semantics in local downloader
  templates/commands/describe/describe.go
  templates/common/fs.go
  templates/common/render/render.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
Owners: @abcxyz/go-readability

lint
  templates/common/fs.go
  templates/common/templatesource/localsource.go
Owners: @abcxyz/go-readability

Add missing docs for v1beta5 and top-level rules
  README.md
Owners: @abcxyz/infrastructure-team

Add missing docs for v1beta5 and top-level rules
  README.md
Owners: @abcxyz/infrastructure-team

Handle ValidateEach being passed a nil element (#455)
  templates/model/validate.go
  templates/model/validate_test.go
Owners: @abcxyz/go-readability

Add missing docs for v1beta5 and top-level rules (#461)
  README.md
Owners: @abcxyz/infrastructure-team

Fix misguided semantics in local downloader (#459)
  templates/commands/describe/describe.go
  templates/common/fs.go
  templates/common/render/render.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
Owners: @abcxyz/go-readability

git diff origin/main...drevell/upgrade-6 | patch -p1
  templates/commands/describe/describe.go
  templates/commands/upgrade/upgrade.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/tempdir/paths.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
Owners: @abcxyz/go-readability

Missed some files, git add -A
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/upgrade/upgrade.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add the ability to force a given manifest filename
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

Support node protos
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/.gitignore_template_rename
  t/proto_template/Makefile
  t/proto_template/buf.gen.yaml
  t/proto_template/scripts/generate.sh
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/.gitignore.abc_renamed
  t/proto_template/testdata/golden/basic/data/Makefile
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/version.yaml
  t/proto_template/testdata/golden/basic/test.yaml
  t/proto_template/version.yaml
Owners: @abcxyz/infrastructure-team

Support node protos (#457)
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/.gitignore_template_rename
  t/proto_template/Makefile
  t/proto_template/buf.gen.yaml
  t/proto_template/scripts/generate.sh
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/.gitignore.abc_renamed
  t/proto_template/testdata/golden/basic/data/Makefile
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/version.yaml
  t/proto_template/testdata/golden/basic/test.yaml
  t/proto_template/version.yaml
Owners: @abcxyz/infrastructure-team

Pin shas in proto workflows
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
Owners: @abcxyz/infrastructure-team

pin dependencies for protos and other cleanup
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

Pin shas in proto workflows (#464)
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

Remove unused go module path for protos and add more defaults
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

Remove unused go module path for protos and add more defaults (#465)
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

hackathon
  cmd/abc/abc.go
  example_server.go
  go.mod
  go.sum
  run.sh
  templates/commands/llm/llm.go
  templates/commands/llm/prompt.txt
  templates/commands/llm/summarized_readme.txt
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Add the ability to force a given manifest filename (#463)
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

fixed ut
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

chore: better UX around recording test data (#466)
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/describe/describe.go
  templates/common/render/action_print.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/describe/describe.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
Owners: @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**
