Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

fixed format
  templates/model/README.md
Owners: @abcxyz/infrastructure-team

enable stdout verification only when goldentest spec is >=v1beta4
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
  templates/model/decode/decode_test.go
  templates/model/goldentest/features/features.go
  templates/model/goldentest/v1beta3/upgrade.go
  templates/model/goldentest/v1beta4/goldentest.go
Owners: @abcxyz/go-readability

docs: updated upgrade readme (#434)
  templates/model/README.md
Owners: @abcxyz/infrastructure-team

upgraded example to latest version
  examples/templates/render/for_each_dynamic/spec.yaml
  examples/templates/render/for_each_dynamic/testdata/golden/multiple_envs/test.yaml
  examples/templates/render/for_each_dynamic/testdata/golden/one_env/test.yaml
  examples/templates/render/for_each_hardcoded/spec.yaml
  examples/templates/render/for_each_hardcoded/testdata/golden/render_template/test.yaml
  examples/templates/render/git_vars/spec.yaml
  examples/templates/render/git_vars/testdata/golden/is_git_no_tag/test.yaml
  examples/templates/render/git_vars/testdata/golden/is_git_with_tag/test.yaml
  examples/templates/render/git_vars/testdata/golden/not_git/test.yaml
  examples/templates/render/hello_jupiter/spec.yaml
  examples/templates/render/hello_jupiter/testdata/golden/example_test/test.yaml
  examples/templates/render/independent_rules/spec.yaml
  examples/templates/render/independent_rules/testdata/golden/example/test.yaml
  examples/templates/render/inputs/spec.yaml
  examples/templates/render/inputs/testdata/golden/example/test.yaml
  examples/templates/render/print/spec.yaml
  examples/templates/render/print/testdata/golden/example/test.yaml
  examples/templates/render/print/testdata/golden/no-output-files/test.yaml
  t/data_migration_pipeline/spec.yaml
  t/data_migration_pipeline/testdata/golden/basic/test.yaml
  t/flutter_template/spec.yaml
  t/flutter_template/testdata/golden/basic/test.yaml
  t/nextjs_react_template/spec.yaml
  t/nextjs_react_template/testdata/golden/basic/test.yaml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/test.yaml
  t/react_template/spec.yaml
  t/react_template/testdata/golden/basic/test.yaml
  t/rest_server/deployments/spec.yaml
  t/rest_server/deployments/testdata/golden/basic/test.yaml
  t/rest_server/spec.yaml
  t/rest_server/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed yaml lint
  t/data_migration_pipeline/spec.yaml
  t/data_migration_pipeline/testdata/golden/basic/test.yaml
  t/flutter_template/spec.yaml
  t/flutter_template/testdata/golden/basic/test.yaml
  t/nextjs_react_template/spec.yaml
  t/nextjs_react_template/testdata/golden/basic/test.yaml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/test.yaml
  t/react_template/spec.yaml
  t/react_template/testdata/golden/basic/test.yaml
  t/rest_server/deployments/spec.yaml
  t/rest_server/deployments/testdata/golden/basic/test.yaml
  t/rest_server/spec.yaml
  t/rest_server/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed ut
  cmd/abc/abc_test.go
  examples/templates/render/print/spec.yaml
  examples/templates/render/print/testdata/golden/example/data/.abc/stdout
  examples/templates/render/print/testdata/golden/example/test.yaml
  examples/templates/render/print/testdata/golden/no-output-files/data/.abc/stdout
  examples/templates/render/print/testdata/golden/no-output-files/test.yaml
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

add autocompletion update to readme
  README.md
Owners: @abcxyz/infrastructure-team

fixed cicd
  t/rest_server/deployments/spec.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.abc/.gitkeep
  t/rest_server/deployments/testdata/golden/basic/data/.github/config/integration-rest-server.env
  t/rest_server/deployments/testdata/golden/basic/data/.github/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github/workflows/deploy-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

revert to main
  examples/templates/render/for_each_dynamic/spec.yaml
  examples/templates/render/for_each_dynamic/testdata/golden/multiple_envs/test.yaml
  examples/templates/render/for_each_dynamic/testdata/golden/one_env/test.yaml
  examples/templates/render/for_each_hardcoded/spec.yaml
  examples/templates/render/for_each_hardcoded/testdata/golden/render_template/test.yaml
  examples/templates/render/git_vars/spec.yaml
  examples/templates/render/git_vars/testdata/golden/is_git_no_tag/test.yaml
  examples/templates/render/git_vars/testdata/golden/is_git_with_tag/test.yaml
  examples/templates/render/git_vars/testdata/golden/not_git/test.yaml
  examples/templates/render/hello_jupiter/spec.yaml
  examples/templates/render/hello_jupiter/testdata/golden/example_test/test.yaml
  examples/templates/render/independent_rules/spec.yaml
  examples/templates/render/independent_rules/testdata/golden/example/test.yaml
  examples/templates/render/inputs/spec.yaml
  examples/templates/render/inputs/testdata/golden/example/test.yaml
  examples/templates/render/print/spec.yaml
  t/data_migration_pipeline/spec.yaml
  t/data_migration_pipeline/testdata/golden/basic/test.yaml
  t/flutter_template/spec.yaml
  t/flutter_template/testdata/golden/basic/test.yaml
  t/nextjs_react_template/spec.yaml
  t/nextjs_react_template/testdata/golden/basic/test.yaml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/test.yaml
  t/react_template/spec.yaml
  t/react_template/testdata/golden/basic/test.yaml
  t/rest_server/spec.yaml
  t/rest_server/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed typo
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed ut
  cmd/abc/abc_test.go
Owners: @abcxyz/go-readability

Add README update for tab autocompletion (#437)
  README.md
Owners: @abcxyz/infrastructure-team

fixed ci cd
  t/rest_server/deployments/testdata/golden/basic/data/.abc/.gitkeep
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/config/integration-rest-server.env
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy-rest-server.yaml
Owners: none

Add parser and downloader factory for the upgrade case (#427)
  templates/common/git/git_test.go
  templates/common/templatesource/git.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/source.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/model/spec/v1beta3/spec.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

upgraded std out yaml
  t/data_migration_pipeline/spec.yaml
  t/data_migration_pipeline/testdata/golden/basic/test.yaml
  t/rest_server/deployments/spec.yaml
  t/rest_server/deployments/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed ci cd
  t/rest_server/deployments/spec.yaml
  t/rest_server/deployments/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed cicd
  t/react_template/testdata/golden/basic/data/.abc/stdout
Owners: none

fixed cicd
  t/data_migration_pipeline/spec.yaml
  t/data_migration_pipeline/testdata/golden/basic/data/.abc/stdout
  t/data_migration_pipeline/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

Dynamically compute version information
  .goreleaser.yaml
  internal/version/version.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Dynamically compute version information (#439)
  .goreleaser.yaml
  internal/version/version.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fixed release build info
  examples/templates/render/print/spec.yaml
  examples/templates/render/print/testdata/golden/example/test.yaml
  examples/templates/render/print/testdata/golden/no-output-files/test.yaml
  internal/version/version.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fixed ci cd
  internal/version/version.go
Owners: @abcxyz/go-readability

fixed logic
  internal/version/version.go
Owners: @abcxyz/go-readability

fixed is release build
  internal/version/version.go
Owners: @abcxyz/go-readability

fix: fixed release build info (#440)
  examples/templates/render/print/spec.yaml
  examples/templates/render/print/testdata/golden/example/test.yaml
  examples/templates/render/print/testdata/golden/no-output-files/test.yaml
  internal/version/version.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

change build version
  .goreleaser.yaml
Owners: @abcxyz/infrastructure-team

fixed ci cd
  examples/templates/render/print/testdata/golden/example/data/.abc/stdout
  examples/templates/render/print/testdata/golden/no-output-files/data/.abc/stdout
Owners: none

fixed comments
  templates/model/goldentest/v1beta4/goldentest.go
  templates/model/spec/features/features.go
  templates/model/spec/v1beta2/spec.go
  templates/model/spec/v1beta3/spec.go
  templates/model/spec/v1beta4/spec.go
Owners: @abcxyz/go-readability

fixed comments
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/go-readability

fix: enable stdout verification only when goldentest spec is >=v1beta4 (#436)
  t/data_migration_pipeline/testdata/golden/basic/data/.abc/stdout
  t/react_template/testdata/golden/basic/data/.abc/stdout
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
  templates/model/decode/decode_test.go
  templates/model/goldentest/features/features.go
  templates/model/goldentest/v1beta3/upgrade.go
  templates/model/goldentest/v1beta4/goldentest.go
  templates/model/spec/v1beta2/spec.go
  templates/model/spec/v1beta3/spec.go
  templates/model/spec/v1beta4/spec.go
Owners: @abcxyz/go-readability

make gitrename >=v1beta4
  t/flutter_template/spec.yaml
  t/flutter_template/testdata/golden/basic/test.yaml
  templates/commands/goldentest/record.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
  templates/model/decode/decode_test.go
  templates/model/goldentest/features/features.go
  templates/model/goldentest/v1beta3/upgrade.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

updated example version
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/test.yaml
  t/react_template/spec.yaml
  t/react_template/testdata/golden/basic/data/.abc/stdout
  t/react_template/testdata/golden/basic/test.yaml
  t/rest_server/spec.yaml
  t/rest_server/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed comments
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

fixed ci cd
  t/rest_server/deployments/spec.yaml
  t/rest_server/deployments/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed ci cd
  t/rest_server/deployments/spec.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github/config/integration-rest-server.env
  t/rest_server/deployments/testdata/golden/basic/data/.github/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github/workflows/deploy-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed ci cd
  t/nextjs_react_template/spec.yaml
  t/nextjs_react_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fix: enable abc rename only in goldentest version >=v1beta4 (#444)
  t/flutter_template/spec.yaml
  t/flutter_template/testdata/golden/basic/test.yaml
  t/nextjs_react_template/spec.yaml
  t/nextjs_react_template/testdata/golden/basic/test.yaml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/test.yaml
  t/react_template/spec.yaml
  t/react_template/testdata/golden/basic/data/.abc/stdout
  t/react_template/testdata/golden/basic/test.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github/config/integration-rest-server.env
  t/rest_server/deployments/testdata/golden/basic/data/.github/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github/workflows/deploy-rest-server.yaml
  t/rest_server/spec.yaml
  t/rest_server/testdata/golden/basic/test.yaml
  templates/commands/goldentest/record.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
  templates/model/decode/decode_test.go
  templates/model/goldentest/features/features.go
  templates/model/goldentest/v1beta3/upgrade.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

debug to see ci cd works or not
  templates/common/render/action.go
Owners: @abcxyz/go-readability

fixed ci cd
  templates/common/render/action.go
Owners: @abcxyz/go-readability

update proto template to use buf
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/Makefile
  t/proto_template/buf.gen.yaml
  t/proto_template/buf.work.yaml
  t/proto_template/buf.yaml
  t/proto_template/protos/pet/v1/pet.proto
  t/proto_template/protos/v1/person_service/person.proto
  t/proto_template/prototool.yaml
  t/proto_template/scripts/generate.sh
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/Makefile
  t/proto_template/testdata/golden/basic/data/README.md
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/data/buf.work.yaml
  t/proto_template/testdata/golden/basic/data/buf.yaml
  t/proto_template/testdata/golden/basic/data/protos/pet/v1/pet.proto
  t/proto_template/testdata/golden/basic/data/protos/v1/person_service/person.proto
  t/proto_template/testdata/golden/basic/data/prototool.yaml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**
