Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

wip
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Improve the Result returned from the upgrade operation
  cmd/abc/abc.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Improve the Result returned from the upgrade operation
  cmd/abc/abc.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/error.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Remember source directory for "include from destination" (#539)
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

Return a result struct from Render() (#540)
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/manifest.go
Owners: @abcxyz/go-readability

Reorganize processGlobs and behavior on include path not existing (#541)
  templates/common/fs.go
  templates/common/render/action.go
  templates/common/render/action_append_test.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
Owners: @abcxyz/go-readability

PR feedback
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
  templates/common/git/git_test.go
  templates/common/render/action_include.go
  templates/common/render/manifest.go
Owners: @abcxyz/go-readability

Clean up the places where we check existence of files (#542)
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/common/fs.go
  templates/common/git/git.go
  templates/common/git/git_test.go
  templates/common/render/action_include.go
  templates/common/render/manifest.go
  templates/common/run/diff.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/remote_git.go
  templates/common/upgrade/hash.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

fixed code style for common exists
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/model/manifest/util.go
Owners: @abcxyz/go-readability

Improve the Result returned from the upgrade operation (#543)
  cmd/abc/abc.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/error.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

fix: fixed code style for common exists (#544)
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

Reverse patches WIP
  templates/common/fs.go
  templates/common/render/action.go
  templates/common/render/action_include.go
  templates/common/render/action_test.go
  templates/common/tempdir/paths.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

prep for PR
  templates/common/render/action_include.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

cleanups
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Generalize hash to any io.Writer in CopyFile
  templates/common/fs.go
Owners: @abcxyz/go-readability

Lower-case fields that were unnecessarily exported
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

Implement include-from-destination patch reversal
  templates/common/tempdir/paths.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Only run updater if we have a meaningful version
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

Only run updater if we have a meaningful version
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

Run GH actions on macos 14 instead of 12
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

Remove line-ending hack since we don't support windows anymore
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

Re-add macos 12
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

abc-updater integration (#415)
  cmd/abc/abc.go
  go.mod
  go.sum
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Add information about updater to README.md
  README.md
Owners: @abcxyz/infrastructure-team

Template rest_server: switch from chi to std library.
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/contents/main.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Fix golden test
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/main.go
Owners: none

Fix golden test
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: none

git diff wip
  templates/common/run/diff.go
  templates/common/run/diff_test.go
  templates/common/run/run.go
  templates/common/tempdir/paths.go
Owners: @abcxyz/go-readability

Template rest_server: switch from chi to std library. (#552)
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/contents/main.go
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
  t/rest_server/testdata/golden/basic/data/main.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Add information about updater to README.md (#551)
  README.md
Owners: @abcxyz/infrastructure-team

almost done
  templates/common/run/diff.go
  templates/common/run/run.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

lint, cleanup
  .github/workflows/lint-test.yml
  templates/common/run/diff.go
  templates/common/tempdir/paths.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

more cleanup
  templates/common/run/diff.go
  templates/common/run/diff_test.go
Owners: @abcxyz/go-readability

Fix tests
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: none

Generalize hash to any io.Writer in CopyFile (#545)
  templates/common/fs.go
Owners: @abcxyz/go-readability

Use `git diff` instead of plain `diff` (#553)
  templates/common/run/diff.go
  templates/common/run/diff_test.go
  templates/common/run/run.go
  templates/common/tempdir/paths.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Lower-case fields that were unnecessarily exported (#546)
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

Remove line-ending hack since we don't support windows anymore (#550)
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

tinkering with gemini-generated patch algo
  templates/common/patch/patch.go
  templates/common/patch/patch_test.go
Owners: @abcxyz/go-readability
