Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

Minor cleanups:
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Resolve dependabot alert for protojson (#491)
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/go.sum
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: @abcxyz/infrastructure-team

Resolve dependabot #493
  t/react_template/package-lock.json
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: @abcxyz/infrastructure-team

remove unnecessary export
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

Use new mdl.S() test helper everywhere
  templates/commands/describe/describe_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/common/cel_test.go
  templates/common/input/input_test.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/render_test.go
  templates/common/rules/rules_test.go
  templates/common/specutil/spec_test.go
  templates/model/decode/decode_test.go
  templates/model/goldentest/v1alpha1/goldentest_test.go
  templates/model/goldentest/v1beta3/goldentest_test.go
  templates/model/goldentest/v1beta4/goldentest_test.go
  templates/model/manifest/v1alpha1/manifest_test.go
  templates/model/spec/v1alpha1/spec_test.go
  templates/model/spec/v1beta1/spec_test.go
  templates/model/spec/v1beta2/spec_test.go
  templates/model/spec/v1beta3/spec_test.go
  templates/model/spec/v1beta4/spec_test.go
  templates/model/spec/v1beta6/spec_test.go
  templates/testutil/model/model.go
Owners: @abcxyz/go-readability

wip
  templates/common/cel_test.go
  templates/common/input/input_test.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/model/spec/v1alpha1/spec_test.go
  templates/model/spec/v1beta1/spec_test.go
  templates/model/spec/v1beta2/spec_test.go
  templates/model/spec/v1beta3/spec_test.go
  templates/model/spec/v1beta4/spec_test.go
  templates/model/spec/v1beta6/spec_test.go
Owners: @abcxyz/go-readability

Resolve dependabot #493 (#494)
  t/react_template/package-lock.json
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: @abcxyz/infrastructure-team

wip
  templates/common/cel_test.go
  templates/common/input/input_test.go
  templates/common/render/action_append_test.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_print_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/action_test.go
  templates/common/render/render_test.go
  templates/common/specutil/spec_test.go
  templates/model/decode/decode_test.go
  templates/model/goldentest/v1alpha1/goldentest_test.go
  templates/model/goldentest/v1beta3/goldentest_test.go
  templates/model/goldentest/v1beta4/goldentest_test.go
  templates/model/spec/v1alpha1/spec_test.go
  templates/model/spec/v1beta1/spec_test.go
  templates/model/spec/v1beta2/spec_test.go
  templates/model/spec/v1beta3/spec_test.go
  templates/model/spec/v1beta4/spec_test.go
  templates/model/spec/v1beta6/spec_test.go
  templates/testutil/model/model.go
Owners: @abcxyz/go-readability

Upgrade all go.mod dependencies
  go.mod
  go.sum
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/go.sum
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: @abcxyz/infrastructure-team

go mod tidy
  go.sum
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/go.sum
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/rest_server/contents/go.sum
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: @abcxyz/infrastructure-team

Upgrade all go.mod dependencies (#495)
  go.mod
  go.sum
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/go.sum
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: @abcxyz/infrastructure-team

Integrate the merge algorithm into the upgrade process (#489)
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/model/model.go
Owners: @abcxyz/go-readability

Minor cleanups in upgrade code (#492)
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/common/render/action_append_test.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/action_test.go
  templates/model/decode/decode_test.go
  templates/model/spec/v1beta6/spec_test.go
  templates/testutil/model/model.go
Owners: @abcxyz/go-readability

Update RELEASING.md
  RELEASING.md
Owners: @abcxyz/infrastructure-team

Update RELEASING.md (#498)
  RELEASING.md
Owners: @abcxyz/infrastructure-team

wip
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

lint
  templates/common/render/action_test.go
Owners: @abcxyz/go-readability

rerun golden tests
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

feat: detect previous unmerged files and abort upgrade
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

lint
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Use new `mdl.S*` test helpers (#497)
  templates/commands/describe/describe_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/common/cel_test.go
  templates/common/input/input_test.go
  templates/common/render/action_append_test.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_print_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/action_test.go
  templates/common/render/render_test.go
  templates/common/rules/rules_test.go
  templates/common/specutil/spec_test.go
  templates/model/decode/decode_test.go
  templates/model/goldentest/v1alpha1/goldentest_test.go
  templates/model/goldentest/v1beta3/goldentest_test.go
  templates/model/goldentest/v1beta4/goldentest_test.go
  templates/model/manifest/v1alpha1/manifest_test.go
  templates/model/spec/v1alpha1/spec_test.go
  templates/model/spec/v1beta1/spec_test.go
  templates/model/spec/v1beta2/spec_test.go
  templates/model/spec/v1beta3/spec_test.go
  templates/model/spec/v1beta4/spec_test.go
  templates/model/spec/v1beta6/spec_test.go
  templates/testutil/model/model.go
Owners: @abcxyz/go-readability

feat: detect previous unmerged files and abort upgrade (#499)
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

It seems to work better without the readme
  templates/commands/llm/llm.go
Owners: @abcxyz/go-readability

Oops, actually remove all readme-related stuff.
  templates/commands/llm/llm.go
Owners: @abcxyz/go-readability

Update golden tests
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
Owners: none

wip
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

lint and tweaks
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/exec.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

self-review
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Fix upgrade command crashing on startup due to duplicate flags
  templates/commands/upgrade/flags.go
Owners: @abcxyz/go-readability

Fix output formatting in upgrade output re merge conflicts
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Always allow un-clean git workspaces
  templates/commands/upgrade/upgrade.go
  templates/common/templatesource/git.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Update golden test
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

wip
  go.mod
  go.sum
  t/react_template/testdata/golden/basic/data/README.md
  templates/commands/goldentest/verify.go
  templates/common/exec.go
  templates/common/exec_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

wip
  go.mod
  go.sum
  t/react_template/testdata/golden/basic/data/README.md
  templates/commands/goldentest/verify.go
  templates/common/exec.go
  templates/common/exec_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

self-review
  t/react_template/testdata/golden/basic/data/README.md
  templates/commands/goldentest/verify.go
  templates/common/exec.go
Owners: @abcxyz/go-readability

explain magic constant
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

Remove text avalanche on golden test failure (#506)
  go.mod
  go.sum
  templates/commands/goldentest/verify.go
  templates/common/exec.go
  templates/common/exec_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

PR feedback
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Return merge conflicts and explanations from Upgrade() (#501)
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**
