Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

remove checkout repo step when deploying to npm gar (#477)
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
Owners: @abcxyz/infrastructure-team

aip
  templates/common/fs.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/hash.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/util.go
  templates/testutil/model/model.go
Owners: @abcxyz/go-readability

fix linter errors from golangci upgrade
  templates/common/render/render.go
Owners: @abcxyz/go-readability

fix linter errors from latest goalngci upgrade
  templates/common/render/render.go
Owners: @abcxyz/go-readability

fix linter errors from latest goalngci upgrade (#480)
  templates/common/render/render.go
Owners: @abcxyz/go-readability

fix breaking change detector in proto template
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/Makefile
  t/proto_template/scripts/generate.sh
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/Makefile
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fix breaking change detector in proto template (#478)
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/Makefile
  t/proto_template/scripts/generate.sh
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/Makefile
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

wip
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Make run_golden_tests.sh 10x faster
  run_golden_tests.sh
Owners: @abcxyz/infrastructure-team

Trivial renaming of testutil WriteAll/ReadAll
  templates/commands/describe/describe_test.go
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify_test.go
  templates/commands/render/render_test.go
  templates/common/dirhash/dirhash_test.go
  templates/common/fs_test.go
  templates/common/git/git_test.go
  templates/common/render/action_append_test.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/action_test.go
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

Fix comment
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

Add individual file hashing function
  templates/common/upgrade/hash.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

lint
  templates/common/upgrade/hash.go
Owners: @abcxyz/go-readability

Trivial renaming of testutil WriteAll/ReadAll (#484)
  templates/commands/describe/describe_test.go
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify_test.go
  templates/commands/render/render_test.go
  templates/common/dirhash/dirhash_test.go
  templates/common/fs_test.go
  templates/common/git/git_test.go
  templates/common/render/action_append_test.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/action_test.go
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

Make run_golden_tests.sh 10x faster (#483)
  run_golden_tests.sh
Owners: @abcxyz/infrastructure-team

Add the SkipGlob option to LoadDir
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

typo
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

Add individual file hashing function (#485)
  templates/common/upgrade/hash.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

PR feedback
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

Add the SkipGlob option to LoadDir (#486)
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/hash.go
  templates/common/upgrade/merge.go
  templates/model/manifest/util.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

self-review
  templates/common/upgrade/merge.go
  templates/model/manifest/util.go
Owners: @abcxyz/go-readability

lint
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

iwp
  templates/common/fs.go
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/model/model.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/upgrade.go
  templates/testutil/model/model.go
Owners: @abcxyz/go-readability

proto workflows should exit on failure
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/VERSION
  t/proto_template/buf.gen.yaml
  t/proto_template/scripts/generate.sh
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/VERSION
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/version.yaml
  t/proto_template/version.yaml
Owners: @abcxyz/infrastructure-team

proto workflows should exit on failure (#490)
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/VERSION
  t/proto_template/buf.gen.yaml
  t/proto_template/scripts/generate.sh
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/VERSION
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/version.yaml
  t/proto_template/version.yaml
Owners: @abcxyz/infrastructure-team

terraform poc
  .gitignore
  post-rendering/example/golang/gofumpt_example.go
  post-rendering/example/terraform/testproject/.terraform.lock.hcl
  post-rendering/example/terraform/testproject/main.tf
  post-rendering/podman/gofumpt/Dockerfile
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Implement part of the upgrade "merge" algorithm (#487)
  templates/common/upgrade/hash.go
  templates/common/upgrade/merge.go
  templates/model/manifest/util.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

lint
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

lint
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

Upgrade merge algorithm part 2/2 (#488)
  templates/common/fs.go
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

Resolve dependabot alert for protojson
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/go.sum
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: @abcxyz/infrastructure-team
