Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

Fix flake caused by multiple valid outputs
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

Add topological sort (#575)
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

wip
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

Report cycles as a data structure, not a string (#576)
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

Add `AddNode` function to graph, to support edgeless nodes
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

Add `AddNode` function to graph, to support edgeless nodes (#577)
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

Use cmp Transformers and FilterPath for fuzzy comparison
  templates/common/render/action_include_test.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/cmp.go
Owners: @abcxyz/go-readability

Use cmp Transformers and FilterPath for fuzzy comparison (#578)
  templates/common/render/action_include_test.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/cmp.go
Owners: @abcxyz/go-readability

Add `crawlManifests()` and `depGraph()`
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

self-review
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Add `crawlManifests()` and `depGraph()` (#579)
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

upgradeall to split
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/flags/flags.go
  templates/common/graph/graph.go
  templates/common/templatesource/remote_git.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Add "upgrade all" feature (#580)
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/flags/flags.go
  templates/common/graph/graph.go
  templates/common/templatesource/remote_git.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Sort neighbors to make topological sort have stable output
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

Add a comment about known inefficiency
  templates/common/graph/graph.go
Owners: @abcxyz/go-readability

Sort neighbors to make topological sort have stable output (#581)
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

Add the --manifest-only flag to output just the manifest file
  templates/commands/render/flags.go
  templates/commands/render/render_test.go
  templates/common/render/action_print.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

Add the --manifest-only flag to output just the manifest file (#582)
  templates/commands/render/flags.go
  templates/commands/render/render_test.go
  templates/common/render/action_print.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

fix: --manifest-only was failing if unrelated files exist in the dest
  templates/commands/goldentest/record.go
  templates/common/fs.go
  templates/common/fs_test.go
  templates/common/render/action_include.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

fix: the --manifest-only flag was ignored
  templates/commands/render/render.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

fix: --manifest-only was failing if unrelated files exist in the dest (#583)
  templates/commands/goldentest/record.go
  templates/commands/render/render.go
  templates/common/fs.go
  templates/common/fs_test.go
  templates/common/render/action_include.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

fix: "upgrade all" should halt on merge conflict
  .vscode/launch.json
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix: "upgrade all" should halt on merge conflict (#584)
  .vscode/launch.json
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Adjust the suggested commands to continue upgrading
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Actually finish implementing and testing
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Adjust the suggested commands to continue an upgrade (#585)
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

remove remotetags
  templates/common/git/git.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

need checkout version
  templates/common/git/git.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

hopefully fix resolveVersion tests
  templates/common/git/git.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
Owners: @abcxyz/go-readability

More development. Also add tests.
  templates/common/fs.go
  templates/common/fs_test.go
  templates/common/git/git.go
  templates/common/git/git_test.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade_test.go
Owners: @abcxyz/go-readability

Add TestCheckout, fix some nits
  templates/common/fs.go
  templates/common/fs_test.go
  templates/common/git/git.go
  templates/common/git/git_test.go
  templates/common/run/run.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

lint
  templates/common/fs.go
  templates/common/fs_test.go
  templates/common/git/git.go
  templates/common/git/git_test.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade_test.go
Owners: @abcxyz/go-readability

Fix test for nonexistent git remote on mac
  templates/common/git/git_test.go
Owners: @abcxyz/go-readability

typo
  templates/common/git/git_test.go
Owners: @abcxyz/go-readability

silence test errors about commit author
  templates/common/git/git_test.go
Owners: @abcxyz/go-readability

wip pending response from Kevin
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/v1alpha1/manifest.go
Owners: @abcxyz/go-readability

hardcode the forbidden symlink logic
  templates/common/fs.go
  templates/common/fs_test.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

Clone entire repos instead of only the requested version (#587)
  templates/common/fs.go
  templates/common/fs_test.go
  templates/common/git/git.go
  templates/common/git/git_test.go
  templates/common/run/run.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

run `abc golden-test record`
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

rewrite as "upgrade_track"
  templates/common/git/git.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/git.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/model/manifest/v1alpha1/manifest.go
Owners: @abcxyz/go-readability
