Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

removed cmp file mode
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/render/render_test.go
  templates/common/fs_test.go
  templates/common/render/action_include_test.go
  templates/common/render/render_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

chore: removed cmp file mode (#418)
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/render/render_test.go
  templates/common/fs_test.go
  templates/common/render/action_include_test.go
  templates/common/render/render_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

rename all git dirs and files and focus on original file name
  templates/commands/goldentest/record.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

fixed typo
  templates/commands/goldentest/record.go
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/go-readability

renamed stdout file
  examples/templates/render/print/testdata/golden/example/data/.abc/stdout
  examples/templates/render/print/testdata/golden/no-output-files/data/.abc/stdout
  t/data_migration_pipeline/testdata/golden/basic/data/.abc/stdout
  t/react_template/testdata/golden/basic/data/.abc/stdout
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify_test.go
  templates/common/paths.go
Owners: @abcxyz/go-readability

fixed lint
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/go-readability

improved stdout
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

Remove FromSlash and etc.; we dont support windows anymore
  templates/common/git/git_test.go
  templates/common/render/action.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
  templates/common/saferelpath_test.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/source_test.go
Owners: @abcxyz/go-readability

Rewrite temp dir management
  templates/commands/describe/describe.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
  templates/common/render/action_include_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/tempdir/paths.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

forgot to add file
  templates/common/tempdir/tempremover.go
Owners: @abcxyz/go-readability

wip
  templates/commands/render/render_test.go
  templates/common/render/render.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

oops
  templates/common/tempdir/tempremover.go
Owners: @abcxyz/go-readability

wip
  templates/commands/goldentest/test_funcs.go
  templates/common/tempdir/paths.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

self-review
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render_test.go
  templates/common/tempdir/tempremover.go
Owners: @abcxyz/go-readability

lint
  templates/common/tempdir/paths.go
  templates/common/tempdir/tempremover.go
Owners: @abcxyz/go-readability

Remove FromSlash and etc; we don't support windows anymore (#420)
  templates/common/git/git_test.go
  templates/common/render/action.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
  templates/common/saferelpath_test.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/source_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/describe/describe.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/source_test.go
Owners: @abcxyz/go-readability

self-review
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render.go
Owners: @abcxyz/go-readability

self-review 2
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/go-readability

wip
  templates/common/templatesource/forcanonical.go
  templates/common/templatesource/git.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/source.go
Owners: @abcxyz/go-readability

fixed naming:
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

fixed naming
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

fixed naming
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

fixed naming
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

fixed comments
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
Owners: @abcxyz/go-readability

Demonstrate how Seth would do this (#417)
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

fixed typo
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/go-readability

added test case
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

rename all gitrelated directories
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
Owners: @abcxyz/go-readability

made github no exception
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/config/integration-rest-server.env
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy-rest-server.yaml
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
Owners: @abcxyz/go-readability

fixed ci/cd
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/config/autopush.env
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yaml
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy.yaml
Owners: none

chore: golden test improve stdout (#419)
  examples/templates/render/print/testdata/golden/example/data/.abc/stdout
  examples/templates/render/print/testdata/golden/no-output-files/data/.abc/stdout
  t/data_migration_pipeline/testdata/golden/basic/data/.abc/stdout
  t/react_template/testdata/golden/basic/data/.abc/stdout
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
  templates/common/paths.go
Owners: @abcxyz/go-readability

fixed comments
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/go-readability

Rewrite temp dir management (#421)
  templates/commands/describe/describe.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
  templates/common/render/action_include_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/tempdir/paths.go
  templates/common/tempdir/tempremover.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

Add validation rules independent of of any input
  README.md
  examples/templates/render/independent_rules/out.txt
  examples/templates/render/independent_rules/spec.yaml
  examples/templates/render/independent_rules/testdata/golden/example/data/.abc/.gitkeep
  examples/templates/render/independent_rules/testdata/golden/example/data/out.txt
  examples/templates/render/independent_rules/testdata/golden/example/test.yaml
  templates/commands/describe/describe.go
  templates/commands/describe/describe_test.go
  templates/common/input/input.go
  templates/common/input/input_test.go
  templates/common/render/action_append.go
  templates/common/render/action_append_test.go
  templates/common/render/action_foreach.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_gotemplate.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_print.go
  templates/common/render/action_print_test.go
  templates/common/render/action_regexnamelookup.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/rules/rules.go
  templates/common/rules/rules_test.go
  templates/common/specutil/spec.go
  templates/common/specutil/spec_test.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
  templates/model/spec/features/features.go
  templates/model/spec/v1beta4/spec.go
  templates/model/spec/v1beta4/spec_test.go
  templates/model/spec/v1beta4/upgrade.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix tests
  templates/commands/goldentest/new_test_cli_test.go
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

address feedback
  README.md
  examples/templates/render/independent_rules/spec.yaml
  templates/common/input/input.go
  templates/common/rules/rules.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

change golden test to use print
  examples/templates/render/independent_rules/spec.yaml
  examples/templates/render/independent_rules/testdata/golden/example/data/.abc/.stdout
Owners: @abcxyz/infrastructure-team

add more unit tests for rule validation
  templates/common/rules/rules_test.go
Owners: @abcxyz/go-readability

rm out.txt
  examples/templates/render/independent_rules/out.txt
Owners: @abcxyz/infrastructure-team

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**
