Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

added record all & verify all
  templates/commands/goldentest/flags.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

fixed test
  templates/commands/goldentest/test_funcs_test.go
Owners: @abcxyz/go-readability

fixed feedback
  templates/commands/goldentest/record.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/action.go
  templates/common/render/action_include.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/util.go
Owners: @abcxyz/go-readability

did more refactor
  templates/commands/goldentest/flags.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

fixed nits
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

fixed typo:
  templates/commands/goldentest/record.go
Owners: @abcxyz/go-readability

wip
  templates/common/render/action_append_test.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

updated readme with record all and verify all
  README.md
Owners: @abcxyz/infrastructure-team

make format consistent
  README.md
Owners: @abcxyz/infrastructure-team

wip
  templates/common/run/diff_test.go
Owners: @abcxyz/go-readability

wip
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

wip
  templates/common/run/diff_test.go
Owners: @abcxyz/go-readability

Rename RunMany to Run
  templates/common/render/render.go
  templates/common/run/run.go
Owners: @abcxyz/go-readability

fixed feedback
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

fixed typo
  templates/commands/goldentest/flags.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/go-readability

Fix terminal color test failure on mac 14 (#535)
  go.mod
  go.sum
  templates/common/run/diff_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Fix hashResult names
  templates/common/upgrade/hash.go
Owners: @abcxyz/go-readability

Update abc-updater to latest version which handles its own concurrency.
  cmd/abc/abc.go
  go.mod
  go.sum
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

pre includedfromdest map value addition
  templates/commands/render/render.go
  templates/common/render/action_include.go
  templates/common/render/render.go
  templates/common/run/diff.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/util.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

successfully killed diffbaseroot
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

include test rewrite
  templates/common/render/action_include_test.go
Owners: @abcxyz/go-readability

Store fromDir in includedFromDest
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

feat: added record all & verify all (#532)
  templates/commands/goldentest/flags.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

Rename RunMany to Run (#536)
  templates/common/render/render.go
  templates/common/run/run.go
Owners: @abcxyz/go-readability

Fix hashResult names (#537)
  templates/common/upgrade/hash.go
Owners: @abcxyz/go-readability

updated readme
  README.md
Owners: @abcxyz/infrastructure-team

docs: updated readme with record all and verify all (#533)
  README.md
Owners: @abcxyz/infrastructure-team

Remove unnecessarily verbose permissions testing
  templates/common/render/action_include_test.go
Owners: @abcxyz/go-readability

Add permissions test
  templates/common/render/action_include_test.go
Owners: @abcxyz/go-readability

fix todo
  templates/common/render/render.go
Owners: @abcxyz/go-readability

Remove unnecessarily verbose permissions testing (#538)
  templates/common/render/action_include_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/go-readability

Return a result struct from Render()
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/manifest.go
Owners: @abcxyz/go-readability

self-review
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

self-review
  templates/common/render/manifest_test.go
Owners: @abcxyz/go-readability

Reorganize processGlobs and behavior on include path not existing
  templates/common/fs.go
  templates/common/render/action.go
  templates/common/render/action_append_test.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
Owners: @abcxyz/go-readability

lint
  templates/common/fs.go
  templates/common/render/action.go
Owners: @abcxyz/go-readability

Clean up the places where we check existence of files
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/common/fs.go
  templates/common/git/git.go
  templates/common/git/git_test.go
  templates/common/render/action_include.go
  templates/common/render/manifest.go
  templates/common/run/diff.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/remote_git.go
  templates/common/upgrade/hash.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

lint
  templates/commands/goldentest/verify.go
  templates/common/render/action_include.go
  templates/common/render/manifest.go
  templates/common/run/diff.go
Owners: @abcxyz/go-readability
