Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

remove feature flag as it is not needed
  templates/common/render/render.go
  templates/model/decode/decode_test.go
  templates/model/spec/features/features.go
  templates/model/spec/v1beta3/upgrade.go
Owners: @abcxyz/go-readability

fix golden test
  examples/templates/render/independent_rules/spec.yaml
  examples/templates/render/independent_rules/testdata/golden/example/data/.abc/stdout
Owners: @abcxyz/infrastructure-team

fix linter errors
  templates/common/rules/rules_test.go
Owners: @abcxyz/go-readability

feat: renamed gitignore file in abc goldentest (#414)
  t/flutter_template/testdata/golden/basic/data/.gitignore.abc_renamed
  t/flutter_template/testdata/golden/basic/data/android/.gitignore.abc_renamed
  t/flutter_template/testdata/golden/basic/data/ios/.gitignore.abc_renamed
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/config/autopush.env
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yaml
  t/react_template/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy.yaml
  t/react_template/testdata/golden/basic/data/.gitignore.abc_renamed
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/config/integration-rest-server.env
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/ci-rest-server.yaml
  t/rest_server/deployments/testdata/golden/basic/data/.github.abc_renamed/workflows/deploy-rest-server.yaml
  templates/commands/goldentest/record.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

wip
  templates/common/git/git_test.go
  templates/common/templatesource/forcanonical.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

wip
  templates/common/templatesource/forcanonical_test.go
Owners: @abcxyz/go-readability

added react template back
  require_golden_tests.sh
  t/nextjs_react_template/testdata/golden/basic/data/.abc/.gitkeep
  t/nextjs_react_template/testdata/golden/basic/data/.editorconfig
  t/nextjs_react_template/testdata/golden/basic/data/.env.local
  t/nextjs_react_template/testdata/golden/basic/data/.eslintignore
  t/nextjs_react_template/testdata/golden/basic/data/.eslintrc.json
  t/nextjs_react_template/testdata/golden/basic/data/.gitignore.abc_renamed
  t/nextjs_react_template/testdata/golden/basic/data/.gitignore_template_rename.abc_renamed
  t/nextjs_react_template/testdata/golden/basic/data/.prettierrc.js
  t/nextjs_react_template/testdata/golden/basic/data/README.md
  t/nextjs_react_template/testdata/golden/basic/data/next.config.js
  t/nextjs_react_template/testdata/golden/basic/data/package-lock.json
  t/nextjs_react_template/testdata/golden/basic/data/package.json
  t/nextjs_react_template/testdata/golden/basic/data/public/bets-platform-logo.png
  t/nextjs_react_template/testdata/golden/basic/data/src/app/api/auth/[auth0]/route.js
  t/nextjs_react_template/testdata/golden/basic/data/src/app/auth.tsx
  t/nextjs_react_template/testdata/golden/basic/data/src/app/constants.ts
  t/nextjs_react_template/testdata/golden/basic/data/src/app/global.css
  t/nextjs_react_template/testdata/golden/basic/data/src/app/layout.tsx
  t/nextjs_react_template/testdata/golden/basic/data/src/app/navbar.tsx
  t/nextjs_react_template/testdata/golden/basic/data/src/app/page.tsx
  t/nextjs_react_template/testdata/golden/basic/data/tsconfig.json
  t/nextjs_react_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

PR feedback
  templates/commands/describe/describe.go
Owners: @abcxyz/go-readability

fixed typo
  t/nextjs_react_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fixed typo
  t/nextjs_react_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

Factor out downloading from the `Render()` function (#422)
  templates/commands/describe/describe.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/source_test.go
Owners: @abcxyz/go-readability

chore: added react template back (#426)
  require_golden_tests.sh
  t/nextjs_react_template/testdata/golden/basic/data/.abc/.gitkeep
  t/nextjs_react_template/testdata/golden/basic/data/.editorconfig
  t/nextjs_react_template/testdata/golden/basic/data/.env.local
  t/nextjs_react_template/testdata/golden/basic/data/.eslintignore
  t/nextjs_react_template/testdata/golden/basic/data/.eslintrc.json
  t/nextjs_react_template/testdata/golden/basic/data/.gitignore.abc_renamed
  t/nextjs_react_template/testdata/golden/basic/data/.gitignore_template_rename.abc_renamed
  t/nextjs_react_template/testdata/golden/basic/data/.prettierrc.js
  t/nextjs_react_template/testdata/golden/basic/data/README.md
  t/nextjs_react_template/testdata/golden/basic/data/next.config.js
  t/nextjs_react_template/testdata/golden/basic/data/package-lock.json
  t/nextjs_react_template/testdata/golden/basic/data/package.json
  t/nextjs_react_template/testdata/golden/basic/data/public/bets-platform-logo.png
  t/nextjs_react_template/testdata/golden/basic/data/src/app/api/auth/[auth0]/route.js
  t/nextjs_react_template/testdata/golden/basic/data/src/app/auth.tsx
  t/nextjs_react_template/testdata/golden/basic/data/src/app/constants.ts
  t/nextjs_react_template/testdata/golden/basic/data/src/app/global.css
  t/nextjs_react_template/testdata/golden/basic/data/src/app/layout.tsx
  t/nextjs_react_template/testdata/golden/basic/data/src/app/navbar.tsx
  t/nextjs_react_template/testdata/golden/basic/data/src/app/page.tsx
  t/nextjs_react_template/testdata/golden/basic/data/tsconfig.json
  t/nextjs_react_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

wip
  templates/common/templatesource/git.go
  templates/common/templatesource/source.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
Owners: @abcxyz/go-readability

add render tests
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

self-review
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
Owners: @abcxyz/go-readability

import fix
  templates/common/templatesource/remote_git_test.go
Owners: @abcxyz/go-readability

add decoder test to make sure typename 'InputRule' -> 'Rule' does not interfer with spec upgrade process
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

remove stale todos
  templates/common/templatesource/remote_git.go
  templates/model/spec/v1beta3/spec.go
Owners: @abcxyz/go-readability

use raw multiline string for better readability
  templates/common/rules/rules_test.go
Owners: @abcxyz/go-readability

feat: add validation rules independent of of any input (#423)
  README.md
  examples/templates/render/independent_rules/spec.yaml
  examples/templates/render/independent_rules/testdata/golden/example/data/.abc/.gitkeep
  examples/templates/render/independent_rules/testdata/golden/example/data/.abc/stdout
  examples/templates/render/independent_rules/testdata/golden/example/test.yaml
  templates/commands/describe/describe.go
  templates/commands/describe/describe_test.go
  templates/commands/goldentest/new_test_cli_test.go
  templates/common/input/input.go
  templates/common/input/input_test.go
  templates/common/render/action_append.go
  templates/common/render/action_append_test.go
  templates/common/render/action_foreach.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_gotemplate.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_print.go
  templates/common/render/action_print_test.go
  templates/common/render/action_regexnamelookup.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/rules/rules.go
  templates/common/rules/rules_test.go
  templates/common/specutil/spec.go
  templates/common/specutil/spec_test.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
  templates/model/spec/v1beta4/spec.go
  templates/model/spec/v1beta4/spec_test.go
  templates/model/spec/v1beta4/upgrade.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

docker poc
  post-rendering/podman/Dockerfile
  templates/commands/goldentest/test_funcs.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

added UT to keep .gitkeep backwards compatibility
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

chore: added UT to keep .gitkeep (#429)
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

possible solution to unreleased version problem
  internal/version/version.go
  templates/commands/goldentest/new_test_cli.go
  templates/common/render/manifest.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

closing paren
  internal/version/version.go
Owners: @abcxyz/go-readability

comments
  templates/model/decode/decode.go
Owners: @abcxyz/go-readability

lint
  templates/model/decode/decode.go
Owners: @abcxyz/go-readability

Create api_version v1beta5, same as v1beta4
  templates/model/decode/decode.go
Owners: @abcxyz/go-readability

Add the concept of unreleased api_versions (#430)
  internal/version/version.go
  templates/commands/goldentest/new_test_cli.go
  templates/common/render/manifest.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

do it actually right this time
  templates/commands/goldentest/new_test_cli_test.go
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

Create api_version v1beta5, same as v1beta4 (#431)
  templates/commands/goldentest/new_test_cli_test.go
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

upgrade goldentest to v1beta4
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify_test.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
  templates/model/goldentest/v1beta4/goldentest.go
  templates/model/goldentest/v1beta4/goldentest_test.go
  templates/model/goldentest/v1beta4/upgrade.go
Owners: @abcxyz/go-readability

fixed lint
  templates/model/decode/decode_test.go
  templates/model/goldentest/v1beta3/upgrade.go
Owners: @abcxyz/go-readability

added maximum version support ut
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

feat: upgrade goldentest to v1beta4 (#432)
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify_test.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
  templates/model/goldentest/v1beta4/goldentest.go
  templates/model/goldentest/v1beta4/goldentest_test.go
  templates/model/goldentest/v1beta4/upgrade.go
Owners: @abcxyz/go-readability

updated upgrade readme
  templates/model/README.md
Owners: @abcxyz/infrastructure-team

Update dependencies in go.mod
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

PR feedback
  templates/common/templatesource/upgrade_test.go
Owners: @abcxyz/go-readability

Update dependencies in go.mod (#435)
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

updated upgrade readme
  templates/model/README.md
Owners: @abcxyz/infrastructure-team
