Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

chore: update minty config to use issuers variable
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

chore: update minty config to use issuers variable (#649)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

Fix typos in Metrics section of README
  README.md
Owners: @abcxyz/infrastructure-team

Fix typos in Metrics section of README (#650)
  README.md
Owners: @abcxyz/infrastructure-team

Fixes
  README.md
  cmd/abc/abc.go
  internal/metricswrap/metrics.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Fix double-nested err check
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

Metrics fixes (#651)
  README.md
  cmd/abc/abc.go
  internal/metricswrap/metrics.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix merge conflict instructions (#631)
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Update golden tests
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
Owners: none

abc golden-test record
  t/nextjs_react_template/testdata/golden/basic/data/package-lock.json
  t/nextjs_react_template/testdata/golden/basic/data/package.json
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

Remove unused nextjs template (#654)
  t/nextjs_react_template/.auth0config
  t/nextjs_react_template/contents/.editorconfig
  t/nextjs_react_template/contents/.eslintignore
  t/nextjs_react_template/contents/.eslintrc.json
  t/nextjs_react_template/contents/.gitignore_template_rename
  t/nextjs_react_template/contents/.prettierrc.js
  t/nextjs_react_template/contents/README.md
  t/nextjs_react_template/contents/next.config.js
  t/nextjs_react_template/contents/public/bets-platform-logo.png
  t/nextjs_react_template/contents/src/app/api/auth/[auth0]/route.js
  t/nextjs_react_template/contents/src/app/auth.tsx
  t/nextjs_react_template/contents/src/app/constants.ts
  t/nextjs_react_template/contents/src/app/global.css
  t/nextjs_react_template/contents/src/app/layout.tsx
  t/nextjs_react_template/contents/src/app/navbar.tsx
  t/nextjs_react_template/contents/src/app/page.tsx
  t/nextjs_react_template/contents/tsconfig.json
  t/nextjs_react_template/spec.yaml
  t/nextjs_react_template/testdata/golden/basic/data/.abc/.gitkeep
  t/nextjs_react_template/testdata/golden/basic/data/.editorconfig
  t/nextjs_react_template/testdata/golden/basic/data/.env.local
  t/nextjs_react_template/testdata/golden/basic/data/.eslintignore
  t/nextjs_react_template/testdata/golden/basic/data/.eslintrc.json
  t/nextjs_react_template/testdata/golden/basic/data/.gitignore.abc_renamed
  t/nextjs_react_template/testdata/golden/basic/data/.gitignore_template_rename.abc_renamed
  t/nextjs_react_template/testdata/golden/basic/data/.prettierrc.js
  t/nextjs_react_template/testdata/golden/basic/data/README.md
  t/nextjs_react_template/testdata/golden/basic/data/next.config.js
  t/nextjs_react_template/testdata/golden/basic/data/public/bets-platform-logo.png
  t/nextjs_react_template/testdata/golden/basic/data/src/app/api/auth/[auth0]/route.js
  t/nextjs_react_template/testdata/golden/basic/data/src/app/auth.tsx
  t/nextjs_react_template/testdata/golden/basic/data/src/app/constants.ts
  t/nextjs_react_template/testdata/golden/basic/data/src/app/global.css
  t/nextjs_react_template/testdata/golden/basic/data/src/app/layout.tsx
  t/nextjs_react_template/testdata/golden/basic/data/src/app/navbar.tsx
  t/nextjs_react_template/testdata/golden/basic/data/src/app/page.tsx
  t/nextjs_react_template/testdata/golden/basic/data/tsconfig.json
  t/nextjs_react_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team, @abcxyz/typescript-readability

Update all deps
  .github/workflows/lint-test.yml
  .github/workflows/notify-on-issue-and-release.yml
  .github/workflows/release.yml
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Update all deps (#657)
  .github/workflows/lint-test.yml
  .github/workflows/notify-on-issue-and-release.yml
  .github/workflows/release.yml
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Update to Go 1.24 and all deps
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
  examples/templates/render/hello_jupiter/go.mod
  examples/templates/render/hello_jupiter/testdata/golden/example_test/data/go.mod
  go.mod
  go.sum
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/go.sum
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
  templates/commands/upgrade/upgrade.go
  templates/common/input/input.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Update to Go 1.24 and all deps (#660)
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
  examples/templates/render/hello_jupiter/go.mod
  examples/templates/render/hello_jupiter/testdata/golden/example_test/data/go.mod
  go.mod
  go.sum
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/go.sum
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
  templates/commands/upgrade/upgrade.go
  templates/common/input/input.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

abc golden-test record
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: none

lint
  cmd/abc/abc_test.go
  t/data_migration_pipeline/main_test.go
  t/data_migration_pipeline/testdata/golden/basic/data/main_test.go
  t/rest_server/contents/main_test.go
  t/rest_server/testdata/golden/basic/data/main_test.go
  templates/commands/describe/describe_test.go
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify_test.go
  templates/commands/render/render_test.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/cel_test.go
  templates/common/fs_test.go
  templates/common/git/git_test.go
  templates/common/input/input_test.go
  templates/common/render/action_append_test.go
  templates/common/render/action_foreach_test.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_print_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/action_test.go
  templates/common/render/render_test.go
  templates/common/rules/rules_test.go
  templates/common/run/diff_test.go
  templates/common/run/run_test.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade_test.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

Update goldens afert dependabot changes
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

original: [chore(deps): bump the npm_and_yarn group across 2 directories with 4 updates] and update golden tests (#664)
  t/nextjs_react_template/contents/package-lock.json
  t/nextjs_react_template/contents/package.json
  t/react_template/package-lock.json
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: @abcxyz/infrastructure-team

chore: update from pkg to actions repo
  .github/workflows/create-tag.yml
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

chore: use new actions repo (#666)
  .github/workflows/create-tag.yml
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

chore: temporariliy add new temp-lint.yml
  .github/workflows/temp-lint.yml
Owners: @abcxyz/infrastructure-team

fix: lints
  .github/workflows/release.yml
  .github/workflows/test.yml
  t/data_migration_pipeline/main_test.go
  t/data_migration_pipeline/testdata/golden/basic/data/main_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix: lints
  t/data_migration_pipeline/main.go
  t/data_migration_pipeline/testdata/golden/basic/data/main.go
Owners: @abcxyz/go-readability

fix: lints
  t/data_migration_pipeline/main.go
  t/data_migration_pipeline/testdata/golden/basic/data/main.go
Owners: @abcxyz/go-readability

fix: lints
  t/data_migration_pipeline/main.go
  t/data_migration_pipeline/testdata/golden/basic/data/main.go
Owners: @abcxyz/go-readability

Delete .github/workflows/temp-lint.yml
  .github/workflows/temp-lint.yml
Owners: @abcxyz/infrastructure-team

fix: lint problems (#669)
  .github/workflows/release.yml
  .github/workflows/test.yml
  t/data_migration_pipeline/main.go
  t/data_migration_pipeline/main_test.go
  t/data_migration_pipeline/testdata/golden/basic/data/main.go
  t/data_migration_pipeline/testdata/golden/basic/data/main_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fix: update minty for move of create-tag to actions repo
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

fix: update minty for move of create-tag to actions repo (#671)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

chore: updating dependencies because Dependabot ones have failed
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Update all deps and fix linting errors
  examples/templates/render/hello_jupiter/go.mod
  examples/templates/render/hello_jupiter/testdata/golden/example_test/data/go.mod
  go.mod
  go.sum
  require_golden_tests.sh
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/go.sum
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/proto_template/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: @abcxyz/infrastructure-team

Update all deps and fix linting errors (#673)
  examples/templates/render/hello_jupiter/go.mod
  examples/templates/render/hello_jupiter/testdata/golden/example_test/data/go.mod
  go.mod
  go.sum
  require_golden_tests.sh
  t/data_migration_pipeline/go.mod
  t/data_migration_pipeline/go.sum
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
  t/proto_template/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
  t/rest_server/contents/go.mod
  t/rest_server/contents/go.sum
  t/rest_server/testdata/golden/basic/data/go.mod
  t/rest_server/testdata/golden/basic/data/go.sum
Owners: @abcxyz/infrastructure-team

fix: lint error
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

fix: react template failing to lint due to node_modules not existing during lint phase
  t/react_template/.eslintrc.json
Owners: @abcxyz/infrastructure-team

revert
  t/react_template/.eslintrc.json
Owners: @abcxyz/infrastructure-team

gemini this says it will fix the lint issue
  t/react_template/.eslintrc.json
  t/react_template/testdata/golden/basic/data/.eslintrc.json
Owners: @abcxyz/infrastructure-team

fix: lint error (#678)
  t/react_template/.eslintrc.json
  t/react_template/testdata/golden/basic/data/.eslintrc.json
  templates/common/graph/graph_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability
