Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

docs and lint
  templates/common/fs.go
  templates/common/fs_test.go
Owners: @abcxyz/go-readability

fix: go.mod file should be included in template output
  examples/templates/render/hello_jupiter/spec.yaml
  examples/templates/render/hello_jupiter/testdata/golden/example_test/data/go.mod
Owners: @abcxyz/infrastructure-team

fix: go.mod file should be included in template output (#628)
  examples/templates/render/hello_jupiter/spec.yaml
  examples/templates/render/hello_jupiter/testdata/golden/example_test/data/go.mod
Owners: @abcxyz/infrastructure-team

Require `--upgrade-channel` when installing a template from SHA (#626)
  templates/commands/describe/describe.go
  templates/commands/render/render.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Create target directory in CopyFile (#627)
  templates/common/fs.go
  templates/common/fs_test.go
Owners: @abcxyz/go-readability

fix: the manifest upgrade_channel field was sometimes omitted
  templates/common/functional.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

fix: the manifest upgrade_channel field was sometimes omitted (#629)
  templates/common/functional.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

new input for demo
  examples/templates/render/hello_jupiter/spec.yaml
Owners: @abcxyz/infrastructure-team

Add missing tab-complete configuration
  templates/commands/upgrade/flags.go
Owners: @abcxyz/go-readability

fix merge conflict instructions
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Add missing tab-complete configuration (#630)
  templates/commands/upgrade/flags.go
Owners: @abcxyz/go-readability

Refactor the way manifests are loaded in UpgradeAll
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Lint and comment fix
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Reuse already-loaded manifest instead of re-reading
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Add comment
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

abc golden-test record
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
Owners: none

Refactor manifest loading in UpgradeAll() (#632)
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Reuse already-loaded manifest instead of re-reading (#633)
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Add the --manifest-filter flag to `upgrade` with CEL filtering
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/filter.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Read manifest only once, and bypass model upgrader for YAML map
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render_test.go
  templates/common/render/render_test.go
  templates/common/specutil/spec.go
  templates/common/upgrade/filter.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

Treat undeclared references as warnings and continue
  templates/common/cel.go
  templates/common/upgrade/filter.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add the --manifest-filter flag to `upgrade` with CEL filtering (#635)
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render_test.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/cel.go
  templates/common/render/render_test.go
  templates/common/specutil/spec.go
  templates/common/upgrade/filter.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
  templates/model/decode/decode.go
  templates/model/decode/decode_test.go
Owners: @abcxyz/go-readability

Add Metrics (#609)
  README.md
  cmd/abc/abc.go
  go.mod
  go.sum
  internal/metricswrap/metrics.go
  templates/commands/describe/describe.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Update ABC Updater from v0.3.0 to v0.4.0
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Update ABC Updater from v0.3.0 to v0.4.0 (#636)
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Fix timeout issues
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

Fix metrics timeout issue
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

Fix runtime metrics timeout issue (#637)
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

Properly set current tag when multiple tags exist for same commit
  .github/workflows/release.yml
Owners: @abcxyz/infrastructure-team

Properly set current tag when multiple tags exist for same commit (#638)
  .github/workflows/release.yml
Owners: @abcxyz/infrastructure-team

switch to escaped single quote in gh action
  .github/workflows/release.yml
Owners: @abcxyz/infrastructure-team

Switch to escaped single quote in gh action (#640)
  .github/workflows/release.yml
Owners: @abcxyz/infrastructure-team

The package in the v1beta6 spec folder should match the folder name
  templates/model/spec/v1beta6/spec.go
  templates/model/spec/v1beta6/spec_test.go
  templates/model/spec/v1beta6/upgrade.go
Owners: @abcxyz/go-readability

Fix package name v1beta4 -> v1beta6 (#642)
  templates/model/spec/v1beta6/spec.go
  templates/model/spec/v1beta6/spec_test.go
  templates/model/spec/v1beta6/upgrade.go
Owners: @abcxyz/go-readability

`abc golden-test record`
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

feat: minty v2 config
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

feat: minty v2 config (#647)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

Return AlreadyUpToDate if the user inputs haven't changed
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

typo
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Return AlreadyUpToDate if the user inputs haven't changed (#648)
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability
