Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

Fix upgrade command crashing on startup due to duplicate flags (#502)
  templates/commands/upgrade/flags.go
Owners: @abcxyz/go-readability

Fix output formatting in upgrade output re merge conflicts (#504)
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Always allow un-clean git workspaces (#505)
  templates/commands/upgrade/upgrade.go
  templates/common/templatesource/git.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/input/input.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

lint
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Update abc-updater to latest version
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

wip
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

wip
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/render/render_test.go
  templates/commands/upgrade/upgrade_test.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

wip
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/render/render_test.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

wip
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

wip
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

Stop stderr reader goroutine on EOF
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

errors.is check failure
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

remove commented lines
  templates/commands/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

fix: template_location was mistakenly made into a required field
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
Owners: @abcxyz/go-readability

PR feedback
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add DialogTest to factor out common pattern for prompting tests (#509)
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/render/render_test.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

fix: template_location was mistakenly made into a required field (#510)
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
Owners: @abcxyz/go-readability

test failed on mac, try increasing timeout
  templates/common/upgrade/upgrade_test.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

Update abc-updater to latest version
  cmd/abc/abc.go
  go.mod
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Update abc-updater to latest version
  go.sum
Owners: @abcxyz/infrastructure-team

update proto template to use location-go.pkg.dev for go module name
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/buf.gen.yaml
  t/proto_template/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
Owners: @abcxyz/infrastructure-team

remove duplicate if checks
  templates/common/render/action_test.go
Owners: @abcxyz/go-readability

Fix "impossible condition" warning
  templates/common/render/action.go
  templates/common/render/action_test.go
Owners: @abcxyz/go-readability

update proto template to use location-go.pkg.dev for go module name (#512)
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/buf.gen.yaml
  t/proto_template/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
Owners: @abcxyz/infrastructure-team

Fix shell rendering
  t/data_migration_pipeline/README.md
Owners: @abcxyz/infrastructure-team

infer branch on checkout step for protos template ci workflow
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
Owners: @abcxyz/infrastructure-team

infer branch on checkout step for protos template ci workflow (#515)
  t/proto_template/.github/workflows/ci.yml
  t/proto_template/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/ci.yml
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
Owners: @abcxyz/infrastructure-team

fixup golden test
  t/data_migration_pipeline/testdata/golden/basic/data/README.md
Owners: none

Fix markdown shell rendering (#514)
  t/data_migration_pipeline/README.md
  t/data_migration_pipeline/testdata/golden/basic/data/README.md
Owners: @abcxyz/infrastructure-team

PR feedback
  templates/commands/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add tests for the upgrade command (not the library( (#511)
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/input/input.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

wip
  templates/common/render/render.go
Owners: @abcxyz/go-readability

fix: include-from-destination bit should be reset on re-include
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

self-review
  templates/common/render/action_include.go
Owners: @abcxyz/go-readability

fix: include-from-destination bit should be reset on re-include (#517)
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/action_test.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

Fix "impossible condition" warning (#513)
  templates/common/render/action.go
  templates/common/render/action_test.go
Owners: @abcxyz/go-readability

make go module domain an input to the template
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/buf.gen.yaml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

make go module domain an input to the proto template (#519)
  t/proto_template/.github/workflows/upload.yml
  t/proto_template/buf.gen.yaml
  t/proto_template/spec.yaml
  t/proto_template/testdata/golden/basic/data/.github.abc_renamed/workflows/upload.yml
  t/proto_template/testdata/golden/basic/data/buf.gen.yaml
  t/proto_template/testdata/golden/basic/test.yaml
Owners: @abcxyz/infrastructure-team

fix module name replacement in protos generate script
  t/proto_template/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
Owners: @abcxyz/infrastructure-team

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**
