Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

self-review
  templates/common/templatesource/download.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/model/manifest/v1alpha1/manifest.go
Owners: @abcxyz/go-readability

Dependabot broke main, so fix it
  t/nextjs_react_template/testdata/golden/basic/data/package-lock.json
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

Fix golden tests broken by dependabot (#590)
  t/nextjs_react_template/testdata/golden/basic/data/package-lock.json
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

Add the concept of "upgrade track" to the manifest (#589)
  templates/common/git/git.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/git.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/v1alpha1/manifest.go
Owners: @abcxyz/go-readability

Use the upgrade_track from the manifest
  templates/commands/upgrade/flags.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

lint
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Rename upgrade_track manifest field to upgrade_channel
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/v1alpha1/manifest.go
Owners: @abcxyz/go-readability

wip
  templates/common/render/render_test.go
  templates/common/saferelpath.go
  templates/common/saferelpath_test.go
  templates/common/upgrade/upgradeall.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
  templates/testutil/manifest.go
Owners: @abcxyz/go-readability

wip
  templates/common/render/render_test.go
  templates/common/saferelpath.go
  templates/common/saferelpath_test.go
  templates/common/upgrade/upgradeall.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
  templates/testutil/manifest.go
Owners: @abcxyz/go-readability

Use the upgrade_track from the manifest (#591)
  templates/commands/upgrade/flags.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

chore: upgrade all dependencies
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Implement the upgrade --resume-from feature
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Missed some track->channel renames, thanks Xiyue
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Rename upgrade_track manifest field to upgrade_channel (#592)
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/v1alpha1/manifest.go
Owners: @abcxyz/go-readability

Implement the `upgrade --resume-from` feature (#595)
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Disallow `..` paths in manifest files (#593)
  templates/common/render/render_test.go
  templates/common/saferelpath.go
  templates/common/saferelpath_test.go
  templates/common/upgrade/upgradeall.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
  templates/testutil/manifest.go
Owners: @abcxyz/go-readability

chore: upgrade all dependencies (#594)
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Finish implementing --resume-from/--already-resolved
  templates/commands/upgrade/flags.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

PR feedback
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Finish implementing --resume-from/--already-resolved (#596)
  templates/commands/upgrade/flags.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

wip
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/templatesource/source.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Allow templates to be upgraded even when installed from a random local dir (#597)
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/templatesource/source.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

For certain conflict types, leave local filenames unchanged
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

lint
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/merge.go
Owners: @abcxyz/go-readability

For certain conflict types, leave local filenames unchanged (#598)
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

fix: ignored inputs should not appear in manifest
  templates/common/input/input.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

lint
  templates/common/input/input.go
Owners: @abcxyz/go-readability

fix: ignored inputs should not appear in manifest (#599)
  templates/common/input/input.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Replace forbidden characters in manifest filenames with underscore
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add the --upgrade-channel flag
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/templatesource/download.go
Owners: @abcxyz/go-readability

lint
  templates/commands/render/flags.go
  templates/commands/render/render.go
Owners: @abcxyz/go-readability

Add the --upgrade-channel flag (#601)
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/templatesource/download.go
Owners: @abcxyz/go-readability

Replace forbidden characters in manifest filenames with underscore (#600)
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Allow empty string as a manifest input value
  templates/model/manifest/v1alpha1/manifest.go
Owners: @abcxyz/go-readability

fix tests
  templates/model/manifest/v1alpha1/manifest_test.go
Owners: @abcxyz/go-readability

Allow empty string as a manifest input value (#602)
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
Owners: @abcxyz/go-readability

Test prompting during upgrade when a new input is added with a default
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/render/render_test.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/input/input.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/cmp.go
  templates/testutil/prompt/prompt.go
Owners: @abcxyz/go-readability

lint
  templates/common/input/input.go
  templates/common/templatesource/remote_git.go
  templates/testutil/prompt/prompt.go
Owners: @abcxyz/go-readability

tweaks
  templates/common/upgrade/upgrade_test.go
  templates/testutil/prompt/prompt.go
Owners: @abcxyz/go-readability

Test prompting during upgrade when a new input is added with a default (#603)
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/render/render_test.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/input/input.go
  templates/common/render/render_test.go
  templates/common/templatesource/remote_git.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/cmp.go
  templates/testutil/prompt/prompt.go
Owners: @abcxyz/go-readability
