Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

fix module name replacement in protos generate script (#520)
  t/proto_template/scripts/generate.sh
  t/proto_template/testdata/golden/basic/data/scripts/generate.sh
Owners: @abcxyz/infrastructure-team

wip
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/verify.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/exec.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/util.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
Owners: @abcxyz/go-readability

wip
  templates/testutil/manifest.go
Owners: @abcxyz/go-readability

Fixup golden tests after dependabot change
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

Move the exec-wrapper Run* functions into their own package
  templates/commands/goldentest/verify.go
  templates/common/git/git.go
  templates/common/render/render.go
  templates/common/run/run.go
  templates/common/run/run_test.go
Owners: @abcxyz/go-readability

Rewrite examples to print to stdout instead of appending to out.txt
  examples/templates/render/git_vars/out.txt
  examples/templates/render/git_vars/spec.yaml
  examples/templates/render/git_vars/testdata/golden/is_git_no_tag/data/.abc/stdout
  examples/templates/render/git_vars/testdata/golden/is_git_no_tag/data/out.txt
  examples/templates/render/git_vars/testdata/golden/is_git_no_tag/test.yaml
  examples/templates/render/git_vars/testdata/golden/is_git_with_tag/data/.abc/stdout
  examples/templates/render/git_vars/testdata/golden/is_git_with_tag/data/out.txt
  examples/templates/render/git_vars/testdata/golden/is_git_with_tag/test.yaml
  examples/templates/render/git_vars/testdata/golden/not_git/data/.abc/stdout
  examples/templates/render/git_vars/testdata/golden/not_git/data/out.txt
  examples/templates/render/git_vars/testdata/golden/not_git/test.yaml
  examples/templates/render/inputs/out.txt
  examples/templates/render/inputs/spec.yaml
  examples/templates/render/inputs/testdata/golden/example/data/.abc/stdout
  examples/templates/render/inputs/testdata/golden/example/data/out.txt
  examples/templates/render/inputs/testdata/golden/example/test.yaml
Owners: @abcxyz/infrastructure-team

Update spec.yaml
  examples/templates/render/git_vars/spec.yaml
Owners: @abcxyz/infrastructure-team

fixed yaml lint
  examples/templates/render/git_vars/spec.yaml
Owners: @abcxyz/infrastructure-team

feat: Rewrite examples to print to stdout instead of appending to out.txt (#522)
  examples/templates/render/git_vars/out.txt
  examples/templates/render/git_vars/spec.yaml
  examples/templates/render/git_vars/testdata/golden/is_git_no_tag/data/.abc/stdout
  examples/templates/render/git_vars/testdata/golden/is_git_no_tag/data/out.txt
  examples/templates/render/git_vars/testdata/golden/is_git_no_tag/test.yaml
  examples/templates/render/git_vars/testdata/golden/is_git_with_tag/data/.abc/stdout
  examples/templates/render/git_vars/testdata/golden/is_git_with_tag/data/out.txt
  examples/templates/render/git_vars/testdata/golden/is_git_with_tag/test.yaml
  examples/templates/render/git_vars/testdata/golden/not_git/data/.abc/stdout
  examples/templates/render/git_vars/testdata/golden/not_git/data/out.txt
  examples/templates/render/git_vars/testdata/golden/not_git/test.yaml
  examples/templates/render/inputs/out.txt
  examples/templates/render/inputs/spec.yaml
  examples/templates/render/inputs/testdata/golden/example/data/.abc/stdout
  examples/templates/render/inputs/testdata/golden/example/data/out.txt
  examples/templates/render/inputs/testdata/golden/example/test.yaml
Owners: @abcxyz/infrastructure-team

fixed example format
  examples/templates/render/inputs/spec.yaml
  examples/templates/render/inputs/testdata/golden/example/data/.abc/stdout
Owners: @abcxyz/infrastructure-team

test cicd
  examples/templates/render/inputs/testdata/golden/example/data/.abc/stdout
Owners: none

removed test cicd
  examples/templates/render/inputs/testdata/golden/example/data/.abc/stdout
Owners: none

test cicd
  examples/templates/render/inputs/testdata/golden/example/test.yaml
Owners: @abcxyz/infrastructure-team

fixed format
  examples/templates/render/inputs/testdata/golden/example/data/.abc/stdout
Owners: none

fix: fixed example format (#523)
  examples/templates/render/inputs/spec.yaml
  examples/templates/render/inputs/testdata/golden/example/data/.abc/stdout
Owners: @abcxyz/infrastructure-team

Move the exec-wrapper Run* functions into their own package (#521)
  templates/commands/goldentest/verify.go
  templates/common/git/git.go
  templates/common/render/render.go
  templates/common/run/run.go
  templates/common/run/run_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/verify.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/run/diff.go
  templates/common/run/diff_test.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

lint
  templates/commands/goldentest/verify.go
  templates/common/run/diff.go
  templates/common/run/diff_test.go
Owners: @abcxyz/go-readability

Support macos<=12 by testing for support for `diff --color=always`
  templates/common/run/diff.go
Owners: @abcxyz/go-readability

Fix tests
  templates/common/run/diff_test.go
Owners: @abcxyz/go-readability

Factor out a wrapper function around exec'ing diff (#525)
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/verify.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/run/diff.go
  templates/common/run/diff_test.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

wip
  templates/testutil/manifest.go
Owners: @abcxyz/go-readability

Fix "include from destination" behavior in the upgrade case
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

Create manifest-related helpers in abctestutil
  templates/commands/upgrade/upgrade_test.go
  templates/testutil/manifest.go
Owners: @abcxyz/go-readability

Add the `patch` field to the manifest model and rename output_hashes to output_files
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/util.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
Owners: @abcxyz/go-readability

Fix "include from destination" behavior in the upgrade case (#526)
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

Create manifest-related helpers in abctestutil (#527)
  templates/commands/upgrade/upgrade_test.go
  templates/testutil/manifest.go
Owners: @abcxyz/go-readability

Remove superflous dlmeta parameter
  templates/common/render/manifest.go
Owners: @abcxyz/go-readability

Redesign the "run" package interface
  templates/common/git/git.go
  templates/common/ptr.go
  templates/common/run/diff.go
  templates/common/run/run.go
  templates/common/run/run_test.go
Owners: @abcxyz/go-readability

self-review
  templates/common/run/run.go
Owners: @abcxyz/go-readability

Try to workaround different exit code on macos
  templates/common/run/run_test.go
Owners: @abcxyz/go-readability

try some more for macos 12 compatibility
  templates/common/run/run_test.go
Owners: @abcxyz/go-readability

PR feedback
  templates/common/ptr.go
  templates/common/run/run.go
Owners: @abcxyz/go-readability

Add the `patch` field to the manifest model and rename output_hashes (#528)
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
  templates/model/manifest/util.go
  templates/model/manifest/v1alpha1/manifest.go
  templates/model/manifest/v1alpha1/manifest_test.go
Owners: @abcxyz/go-readability

Remove superflous dlmeta parameter (#529)
  templates/common/render/manifest.go
Owners: @abcxyz/go-readability

PR feedback
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

Include patches in manifest file when rendering (#530)
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Redesign the "run" package interface (#531)
  templates/common/git/git.go
  templates/common/run/diff.go
  templates/common/run/run.go
  templates/common/run/run_test.go
Owners: @abcxyz/go-readability

wip
  templates/common/fs.go
  templates/common/render/action_include.go
  templates/common/render/render.go
  templates/common/run/diff.go
  templates/common/run/run.go
  templates/common/tempdir/paths.go
  templates/common/upgrade/hash.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

wip
  templates/common/fs.go
  templates/common/render/render.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**
