Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

Test on macos 13 and 14, dropping support for 12
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

Test on macos 13 and 14, dropping support for 12 (#556)
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

Assert presence of rejected hunk file, not contents
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Fix a bug in golden-test verify for templates without tests
  templates/commands/goldentest/record.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

lint
  templates/commands/goldentest/record.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

Fix a bug in golden-test verify for templates without tests (#557)
  templates/commands/goldentest/record.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

TestPatchReversalManualResolution just checks .rej file presence, not contents
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Removed duplicate word typo in readme.
  README.md
Owners: @abcxyz/infrastructure-team

Removed duplicate word typo in readme. (#559)
  README.md
Owners: @abcxyz/infrastructure-team

wip
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

factor out, test
  cmd/abc/abc.go
  cmd/abc/abc_test.go
Owners: @abcxyz/go-readability

lint
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

lint
  cmd/abc/abc_test.go
Owners: @abcxyz/go-readability

Increment abc-updater for more concise notification.
  cmd/abc/abc.go
  go.mod
  go.sum
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Update abc-updater for more concise notification. (#561)
  cmd/abc/abc.go
  go.mod
  go.sum
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Factor out templates command map and mount it twice
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

Search and replace of "abc templates" -> "abc"
  README.md
  cmd/abc/abc.go
  examples/templates/render/hello_jupiter/README.md
  template-index.md
  templates/common/header.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/templatesource/download.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

done?
  cmd/abc/abc_test.go
Owners: @abcxyz/go-readability

Move `templates` subcommands to root command (#562)
  README.md
  cmd/abc/abc.go
  cmd/abc/abc_test.go
  examples/templates/render/hello_jupiter/README.md
  template-index.md
  templates/common/header.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/templatesource/download.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

go mod tidy
  go.mod
Owners: @abcxyz/infrastructure-team

Check for macos <= 12 and reject (#560)
  cmd/abc/abc.go
  cmd/abc/abc_test.go
  go.mod
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

wip
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/fs.go
Owners: @abcxyz/go-readability

Rejected patch files indicate a merge conflict
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

update patch extension
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

remove remotetags
  templates/common/git/git.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

need checkout version
  templates/common/git/git.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

wip
  .vscode/launch.json
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/fs.go
  templates/common/input/input.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/templatesource/download.go
  templates/common/templatesource/git.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/source.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Add environment variables for some common flags
  README.md
  templates/commands/render/flags.go
  templates/common/flags/flags.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Document environment vars
  README.md
Owners: @abcxyz/infrastructure-team

typo
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Implement include-from-destination patch reversal (#547)
  templates/common/tempdir/paths.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Merge algorithm adjustments for patched include-from-destination files (#548)
  templates/common/render/action.go
  templates/common/render/action_include.go
  templates/common/render/action_test.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

Rejected patch files indicate a merge conflict (#563)
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add environment variables for some common flags (#565)
  README.md
  templates/commands/render/flags.go
  templates/common/flags/flags.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

wip
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/fs.go
  templates/common/input/input.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/templatesource/download.go
  templates/common/templatesource/git.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/source.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add the "ignore unknown inputs" feature
  README.md
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/input/input.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Add the "ignore unknown inputs" feature
  README.md
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/input/input.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

self-review
  README.md
  templates/commands/render/flags.go
  templates/common/input/input.go
  templates/common/render/render.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**
