Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

Add -version flag to upgrade command
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/templatesource/source.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

reuse Latest const
  templates/commands/upgrade/flags.go
  templates/common/templatesource/remote_git.go
Owners: @abcxyz/go-readability

typo
  templates/commands/render/flags.go
Owners: @abcxyz/go-readability

Add the "ignore unknown inputs" feature (#566)
  README.md
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/input/input.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Add -version flag to upgrade command (#567)
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/source.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

wip
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

lint
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Add a flag for patches that the user already resolved (#568)
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

hopefully fix resolveVersion tests
  templates/common/git/git.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
Owners: @abcxyz/go-readability

Remove run-golden-tests hack
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

wip
  go.mod
  go.sum
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

remove shell script
  run_golden_tests.sh
Owners: @abcxyz/infrastructure-team

Replace run_golden_tests.sh hack now that we have "verify all" (#569)
  .github/workflows/lint-test.yml
  run_golden_tests.sh
Owners: @abcxyz/infrastructure-team

wip
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

self-review
  go.mod
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

run `abc golden-test record`
  t/react_template/testdata/golden/basic/data/package-lock.json
Owners: none

Handle patch-reversal conflict in the upgrade command (#571)
  go.mod
  go.sum
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

wip
  templates/common/fs.go
Owners: @abcxyz/go-readability

wip
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/git.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Return DownloadMetadata from Upgrade() (#572)
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/templatesource/download.go
  templates/common/templatesource/git.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

run `abc golden-test record`
  t/nextjs_react_template/testdata/golden/basic/data/package-lock.json
  t/nextjs_react_template/testdata/golden/basic/data/package.json
Owners: none

checkpoint before going crazy and making all upgrades upgradeall
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/flags/flags.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

Pre-test-refactor checkpoint
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

wip
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Checkpoint before adding torture test test
  templates/commands/upgrade/upgrade_test.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

wip
  templates/commands/goldentest/test_funcs.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/action_include.go
  templates/common/render/action_include_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
Owners: @abcxyz/go-readability

wip
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
  templates/common/graph/testdata/fuzz/FuzzTopoSort/541e66964bddf9d9
  templates/testutil/cmp.go
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

wip
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/action_include_test.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
  templates/testutil/cmp.go
Owners: @abcxyz/go-readability

Minor tweaks to dialog test debugging
  templates/commands/goldentest/test_funcs.go
  templates/common/render/action_include.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

linter hates grammar
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

Add topological sort
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

lint
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

Oops, accidental printf and unused const
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

Minor tweaks to dialog test debugging (#574)
  templates/commands/goldentest/test_funcs.go
  templates/common/render/action_include.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

wip
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/action_include_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/common/upgrade/upgradeall.go
  templates/testutil/cmp.go
Owners: @abcxyz/go-readability

rewrite from int-slice to generic-map
  templates/common/graph/graph.go
  templates/common/graph/graph_test.go
Owners: @abcxyz/go-readability

self-review
  templates/common/graph/graph.go
Owners: @abcxyz/go-readability

lint
  templates/common/graph/graph.go
Owners: @abcxyz/go-readability
