Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

wip
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

remove workflow dispatch trigger
  .github/workflows/notify-on-issue-and-release.yml
Owners: @abcxyz/infrastructure-team

update readme
  README.md
Owners: @abcxyz/infrastructure-team

chore: remove workflow dispatch trigger (#615)
  .github/workflows/notify-on-issue-and-release.yml
Owners: @abcxyz/infrastructure-team

Add --upgrade-channel flag to upgrade command
  templates/commands/render/flags.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/flags/flags.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Reproduce missing directory bug during patch reversal
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

update abc-updater to v0.3.0 from v0.2.0
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Add --upgrade-channel flag to upgrade command
  templates/commands/render/flags.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/flags/flags.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add --upgrade-channel flag to upgrade command (#616)
  templates/commands/render/flags.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/flags/flags.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

wip
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

continue-without-patches WIP
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

Rename --manifest-only to --backfill-manifest-only
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

Rename --manifest-only to --backfill-manifest-only (#617)
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

comments
  templates/commands/render/flags.go
  templates/common/render/render.go
Owners: @abcxyz/go-readability

Ignore the manifest Dirhash and Hash fields in test assertions
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

Ignore the manifest Dirhash and Hash fields in test assertions (#618)
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

re-add missing pieces
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

lint
  templates/common/render/render.go
Owners: @abcxyz/go-readability

Improve instructions
  templates/common/render/render.go
Owners: @abcxyz/go-readability

Add the --continue-without-patches flag for `render` (#619)
  templates/commands/render/flags.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

add mkdirall
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Provide `ContinueWithPatches` flag to Render() call
  templates/commands/render/render.go
Owners: @abcxyz/go-readability

Provide `ContinueWithPatches` flag to Render() call (#620)
  templates/commands/render/render.go
Owners: @abcxyz/go-readability

fix: missing directory during patch reversal (#621)
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

`abc golden-test record`
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
Owners: none

abc golden-test record
  t/data_migration_pipeline/testdata/golden/basic/data/go.mod
  t/data_migration_pipeline/testdata/golden/basic/data/go.sum
Owners: none

Default --manifest to true
  templates/commands/render/flags.go
Owners: @abcxyz/go-readability

fix tests
  cmd/abc/abc_test.go
  templates/commands/render/render_test.go
Owners: @abcxyz/go-readability

Default --manifest to true (#624)
  cmd/abc/abc_test.go
  templates/commands/render/flags.go
  templates/commands/render/render_test.go
Owners: @abcxyz/go-readability

Require --upgrade-channel when version is SHA
  templates/commands/describe/describe.go
  templates/commands/render/render.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/source.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Require --upgrade-channel when version is SHA
  templates/commands/describe/describe.go
  templates/commands/render/render.go
  templates/common/render/manifest.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/templatesource/localsource.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/prompt/prompt.go
Owners: @abcxyz/go-readability

Remove Manifest option in favor of SkipManifest
  cmd/abc/abc_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Remove Manifest option in favor of SkipManifest (#625)
  cmd/abc/abc_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

more wip, maybe done
  templates/commands/render/render.go
  templates/common/render/render_test.go
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
Owners: @abcxyz/go-readability

Fix channel flag handling on upgrade path, and test
  templates/common/templatesource/remote_git.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source_test.go
  templates/common/templatesource/upgrade.go
  templates/common/templatesource/upgrade_test.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

self-review
  templates/common/templatesource/remote_git.go
  templates/testutil/prompt/prompt.go
Owners: @abcxyz/go-readability

lint
  templates/common/templatesource/source.go
  templates/common/templatesource/upgrade.go
Owners: @abcxyz/go-readability

Add mkdir in CopyFile
  templates/common/fs.go
Owners: @abcxyz/go-readability

Add mkdir in CopyFile
  templates/common/fs_test.go
Owners: @abcxyz/go-readability

Add mkdir in CopyFile
  templates/common/fs.go
  templates/common/fs_test.go
Owners: @abcxyz/go-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**
