Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

Require that all templates have golden tests (#395)
  .github/workflows/lint-test.yml
  require_golden_tests.sh
Owners: @abcxyz/infrastructure-team

Fix path with `./`
  .github/workflows/lint-test.yml
Owners: @abcxyz/infrastructure-team

/usr/bin/env, not /bin/env
  require_golden_tests.sh
  run_golden_tests.sh
Owners: @abcxyz/infrastructure-team

Move the golden-test runner from the GH action yaml to a .sh file (#396)
  .github/workflows/lint-test.yml
  require_golden_tests.sh
  run_golden_tests.sh
Owners: @abcxyz/infrastructure-team

adjust error message for golden-test verify
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

added new-test readme
  README.md
Owners: @abcxyz/infrastructure-team

fixed comment
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

added mismatch error
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

fixed naming
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

fixed format
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

combine error msg
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

combine to one bool flag
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

updated docs based on comments
  README.md
Owners: @abcxyz/infrastructure-team

updated readme
  README.md
Owners: @abcxyz/infrastructure-team

chore: adjust error message for golden-test verify (#406)
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

fixed typo
  README.md
Owners: @abcxyz/infrastructure-team

fixed typo
  README.md
Owners: @abcxyz/infrastructure-team

docs: added new-test readme (#408)
  README.md
Owners: @abcxyz/infrastructure-team

feat: create notify on issue and release
  .github/workflows/notify-on-issue-and-release.yml
Owners: @abcxyz/infrastructure-team

fix lint
  .github/workflows/notify-on-issue-and-release.yml
Owners: @abcxyz/infrastructure-team

verify stdout in goldentest
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
  templates/common/paths.go
Owners: @abcxyz/go-readability

updated example
  examples/templates/render/print/testdata/golden/example/data/.abc/.stdout
  examples/templates/render/print/testdata/golden/no-output-files/data/.abc/.stdout
  t/data_migration_pipeline/testdata/golden/basic/data/.abc/.stdout
Owners: none

fixed example
  t/react_template/testdata/golden/basic/data/.abc/.stdout
Owners: none

fixed test
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

feat: verify stdout in goldentest (#410)
  examples/templates/render/print/testdata/golden/example/data/.abc/.stdout
  examples/templates/render/print/testdata/golden/no-output-files/data/.abc/.stdout
  t/data_migration_pipeline/testdata/golden/basic/data/.abc/.stdout
  t/react_template/testdata/golden/basic/data/.abc/.stdout
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
  templates/common/paths.go
Owners: @abcxyz/go-readability

feat: create notify on issue and release (#409)
  .github/workflows/notify-on-issue-and-release.yml
Owners: @abcxyz/infrastructure-team

removed windows support
  .github/workflows/lint-test.yml
  .goreleaser.yaml
  cmd/abc/abc.go
  templates/common/exec_test.go
  templates/common/fs.go
  templates/common/git/git.go
  templates/common/render/action.go
  templates/common/render/action_test.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/test_utils.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

chore: removed windows support (#412)
  .github/workflows/lint-test.yml
  .goreleaser.yaml
  cmd/abc/abc.go
  templates/common/exec_test.go
  templates/common/fs.go
  templates/common/git/git.go
  templates/common/render/action.go
  templates/common/render/action_test.go
  templates/common/render/manifest.go
  templates/common/render/manifest_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/test_utils.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

fixed windows os error msg
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

chore: fixed windows os error msg (#413)
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

renamed gitignore file in abc goldentest
  templates/commands/goldentest/record.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify.go
  templates/commands/goldentest/verify_test.go
Owners: @abcxyz/go-readability

fixed ci/cd
  t/flutter_template/testdata/golden/basic/data/.gitignore.abc_renamed
  t/flutter_template/testdata/golden/basic/data/android/.gitignore.abc_renamed
  t/flutter_template/testdata/golden/basic/data/ios/.gitignore.abc_renamed
Owners: none

fixed ci cd
  t/react_template/testdata/golden/basic/data/.gitignore.abc_renamed
Owners: none

WIP: never returns
  cmd/abc/abc.go
  go.mod
  go.sum
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Print version info at end
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

move testutil to its own package
  templates/common/test_utils.go
  templates/testutil/fs.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

move testutil to its own package
  templates/commands/describe/describe_test.go
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify_test.go
  templates/commands/render/render_test.go
  templates/common/fs_test.go
  templates/common/git/git_test.go
  templates/common/render/action_append_test.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/action_test.go
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source_test.go
  templates/testutil/fs.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability

fixed naming
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

Demonstrate how Seth would do this
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

chore: move testutil to its own package (#416)
  templates/commands/describe/describe_test.go
  templates/commands/goldentest/new_test_cli_test.go
  templates/commands/goldentest/record_test.go
  templates/commands/goldentest/record_verify_test.go
  templates/commands/goldentest/test_funcs_test.go
  templates/commands/goldentest/verify_test.go
  templates/commands/render/render_test.go
  templates/common/fs_test.go
  templates/common/git/git_test.go
  templates/common/render/action_append_test.go
  templates/common/render/action_gotemplate_test.go
  templates/common/render/action_include_test.go
  templates/common/render/action_regexnamelookup_test.go
  templates/common/render/action_regexreplace_test.go
  templates/common/render/action_stringreplace_test.go
  templates/common/render/action_test.go
  templates/common/render/manifest_test.go
  templates/common/render/render_test.go
  templates/common/templatesource/localsource_test.go
  templates/common/templatesource/remote_git_test.go
  templates/common/templatesource/source_test.go
  templates/common/testutil/fs.go
  templates/testutil/fs.go
  templates/testutil/prompt.go
Owners: @abcxyz/go-readability
