Repository abcxyz/abc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/typescript-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# infrastructure-team owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Typescript readability
*.js     @abcxyz/typescript-readability
*.jsx    @abcxyz/typescript-readability
*.ts     @abcxyz/typescript-readability
*.tsx    @abcxyz/typescript-readability

# By leaving the owners group empty, remove the need for owners approval on
# golden-test output. We don't want to require TS/Go/etc owners approval when
# the output of a template changes.
**/testdata/golden/*/data/**

Add --accept-defaults flag, and error when user intent is unclear
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/new_test_flags.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/flags/flags.go
  templates/common/input/input.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

lint
  templates/common/input/input.go
Owners: @abcxyz/go-readability

self-review
  templates/common/input/input.go
Owners: @abcxyz/go-readability

Add --accept-defaults flag, and error when user intent is unclear (#604)
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/new_test_flags.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/flags/flags.go
  templates/common/input/input.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
Owners: @abcxyz/go-readability

fix: --input flags to upgrade were being ignored
  templates/commands/upgrade/upgrade_test.go
  templates/common/fs_test.go
  templates/common/git/git_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

Validate precedence, rename some vars
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade.go
  templates/common/input/input.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

fix: --input flags to upgrade were being ignored (#606)
  templates/commands/goldentest/test_funcs.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade.go
  templates/commands/upgrade/upgrade_test.go
  templates/common/fs_test.go
  templates/common/git/git_test.go
  templates/common/input/input.go
  templates/common/render/render.go
  templates/common/render/render_test.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
  templates/testutil/fs.go
Owners: @abcxyz/go-readability

Refactor golden-test verify for clarity
  cmd/abc/abc.go
  go.mod
  go.sum
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

cleanup
  cmd/abc/abc.go
  templates/commands/goldentest/verify.go
  templates/common/run/diff.go
Owners: @abcxyz/go-readability

go mod tidy
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Refactor oversize function in golden-test verify (#607)
  templates/commands/goldentest/verify.go
  templates/common/run/diff.go
Owners: @abcxyz/go-readability

Speed up golden-test by 3x using concurrency
  go.mod
  go.sum
  templates/commands/goldentest/record.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

lint
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
Owners: @abcxyz/go-readability

Speed up `golden-test verify` by 2.5x using concurrency (#608)
  go.mod
  go.sum
  templates/commands/goldentest/record.go
  templates/commands/goldentest/test_funcs.go
  templates/commands/goldentest/verify.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Use released version of abc-updater
  cmd/abc/abc.go
  go.mod
  go.sum
  internal/wrapper/metrics.go
  templates/commands/describe/describe.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

Update updater and switch to info logging for failures
  cmd/abc/abc.go
  go.mod
  go.sum
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

go mod tidy
  go.sum
Owners: @abcxyz/infrastructure-team

fix gci
  cmd/abc/abc.go
  internal/wrapper/metrics.go
  templates/commands/describe/describe.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

delint
  cmd/abc/abc.go
  internal/wrapper/metrics.go
Owners: @abcxyz/go-readability

Update updater and switch to info logging for failures (#610)
  cmd/abc/abc.go
  go.mod
  go.sum
Owners: @abcxyz/go-readability, @abcxyz/infrastructure-team

finish merge
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

Add shell completion for positional args
  templates/commands/describe/describe.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

fixes
  templates/commands/describe/describe.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

go mod tidy
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Unhide the `upgrade` subcommand
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Handle edited-but-equal merge conflict more intelligently
  templates/common/upgrade/hash.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Handle edited-but-equal merge conflict more intelligently (#613)
  templates/common/upgrade/hash.go
  templates/common/upgrade/merge.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add shell completion for positional args (#611)
  templates/commands/describe/describe.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Unhide the `upgrade` subcommand (#612)
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Add metrics to README.md
  README.md
Owners: @abcxyz/infrastructure-team

respond to pr feedback
  cmd/abc/abc.go
  internal/wrapper/metrics.go
Owners: @abcxyz/go-readability

nit
  cmd/abc/abc.go
Owners: @abcxyz/go-readability

Change package name from wrapper->metricswrap
  cmd/abc/abc.go
  internal/metricswrap/metrics.go
  templates/commands/describe/describe.go
  templates/commands/goldentest/new_test_cli.go
  templates/commands/goldentest/record.go
  templates/commands/goldentest/verify.go
  templates/commands/render/render.go
  templates/commands/upgrade/upgrade.go
Owners: @abcxyz/go-readability

Add the --even-if-up-to-date flag to `upgrade`
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/render/render.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

add comment
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Remove stray printf
  templates/common/render/render.go
Owners: @abcxyz/go-readability

wip
  templates/commands/render/flags.go
  templates/commands/render/render.go
  templates/commands/render/render_test.go
  templates/common/render/render.go
  templates/common/render/render_test.go
Owners: @abcxyz/go-readability

rename to --continue-if-current
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

lint
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability

Add the --even-if-up-to-date flag to `upgrade` (#614)
  templates/commands/upgrade/flags.go
  templates/commands/upgrade/upgrade.go
  templates/common/upgrade/upgrade.go
  templates/common/upgrade/upgrade_test.go
Owners: @abcxyz/go-readability
